<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-body">
                <div class="filter-box">
                </div>
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Login</th>
                        <th>E-mail</th>
                        <th>IP</th>
                        <th>Raiting</th>
                        <th>Description</th>
                        <th>Published</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="reviews.length > 0" v-for="(review, index) in reviews">
                        <td>{{ review.id}}</td>
                        <td>{{ review.name}}</td>
                        <td>{{ review.email}}</td>
                        <td>{{ review.ip}}</td>
                        <td>{{ review.raiting}}</td>
                        <td>{{ review.text}}</td>
                        <td>
                        <span @click="Published(review.id,index,review.published)" class="ivu-switch" :class="{ 'ivu-switch-checked': review.published === 1  }">
                            <span class="ivu-switch-inner">
                                <span v-if="review.published == 1">On</span>
                                <span v-else>Off</span>
                            </span>
                        </span>
                        </td>
                        <td>
                            <div class="actions">
                                <button type="button" @click.prevent="showEdit(index)" class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" @click.prevent="Delete(review.id,index)" class="btn btn-danger" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="updateReview()">
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea v-model="edit.text" class="form-control" cols="30" rows="10"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Reviews",
        data: function () {
            return {
                reviews: [],
                edit:{
                    id: 0,
                    text: '',
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getReviews();
        },
        methods: {
            getReviews() {
                axios.get('/admin/reviews/show')
                    .then((response) => {
                        this.reviews = response.data;
                    })
                    .catch(error => {
                    });
            },
            Published(id,x,block){
                const that = this;
                if (block === 0){
                    toastDelete.fire({
                        title: 'Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/reviews/published',{id:id,type:1})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.reviews.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 1
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                } else{
                    toastDelete.fire({
                        title: 'Un Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/reviews/published',{id:id,type: 0})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.reviews.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 0
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                }
            },
            updateReview(){
                const that = this;
                axios.post('/admin/reviews/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.reviews.find((f, idx) =>  f.id == response.data.review.id);
                            if (el){
                                el.text = response.data.review.text;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },

            Delete(id,x){
                toastDelete.fire({
                    title: 'Delete?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/reviews/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.reviews.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            showEdit(id){
                let el = this.reviews.find((f,idx) => idx === id);
                if (el){
                    this.edit.text = el.text;
                    this.edit.id = el.id;
                    $('#showEdit').modal('show');
                }
            },
            clear(){
                this.edit.text = '';
                this.edit.id = 0;
            }
        }
    }
</script>

<style scoped>

</style>