<template>
    <div class="auth">
        <div class="center--box">
            <div class="form__center panel">
                <div class="panel--header">
                    <p class="title">Авторизация</p>
                </div>
                <div class="panel-body">
                    <form method="POST"  @submit.prevent="Login()">
                        <div class="form-body">
                            <div class="form-group">
                                <input id="email" type="email" name="email" v-model="form.email" class="form-control" required autocomplete="email" autofocus placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input id="password" type="password" class="form-control" v-model="form.password" name="password" required placeholder="Пароль">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Войти</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Login",
        data: function() {
            return {
                form:{
                    password: '',
                    email: '',
                }
            }
        },
        mounted(){

        },
        methods: {
            Login(){
                axios.post('/admin/login', this.form)
                    .then((response) => {
                        if (response.data.error === 0){
                            window.location = response.data.link
                        }else{
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                    })
                    .catch(error => {});

            }

        }
    }
</script>

<style scoped>

</style>