<template>
    <div class="container-fluid">
        <form @submit.prevent="updateCompare()">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
            <div class="panel-body ptb">

                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="">E-mail</label>
                            <input type="text" class="form-control" v-model="contacts.email">
                        </div>
                        <div class="form-group">
                            <label for="">Time support E-mail</label>
                            <input type="text" class="form-control" v-model="contacts.email_work">
                        </div>
                        <div class="form-group">
                            <label for="">Skype</label>
                            <input type="text" class="form-control" v-model="contacts.skype">
                        </div>
                        <div class="form-group">
                            <label for="">Time support Skype</label>
                            <input type="text" class="form-control" v-model="contacts.skype_work">
                        </div>
                        <div class="form-group">
                            <label for="">Link instagram</label>
                            <input type="text" class="form-control" v-model="contacts.instagram">
                        </div>
                        <div class="form-group">
                            <label for="">Account youtube</label>
                            <input type="text" class="form-control" v-model="contacts.youtube">
                        </div>
                        <div class="form-group">
                            <label for="">Link twitter</label>
                            <input type="text" class="form-control" v-model="contacts.twitter">
                        </div>
                        <div class="form-group">
                            <label for="">Link на facebook</label>
                            <input type="text" class="form-control" v-model="contacts.facebook">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Contacts",
        data: function () {
            return {
                contacts:{
                    id: 0,
                    twitter: '',
                    youtube: '',
                    skype_work: '',
                    skype: '',
                    email_work: '',
                    email: '',
                    instagram: '',
                    facebook: '',
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getCompares();
        },
        methods: {
            getCompares() {
                axios.get('/admin/contacts/show')
                    .then((response) => {
                        this.contacts = response.data;
                    })
                    .catch(error => {
                    });
            },
            updateCompare(){
                const that = this;
                axios.post('/admin/contacts/update',this.contacts)
                    .then((response) => {
                        if (response.data.error === 0){
                            toast.fire({
                                icon: 'success',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },

        }
    }
</script>

<style scoped>

</style>