<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">

                </div>
            </div>
            <div class="panel-body">
                <div class="filter-box">
                    <form @submit.prevent="submitFilter()" method="post" class="form-inline">
                        <div class="form-group mr-sm-3 mb-2">
                            <input type="text" class="form-control" v-model="filter.fullname" placeholder="Fullname">
                        </div>
                        <div class="form-group mr-sm-3 mb-2">
                            <input type="text" class="form-control" v-model="filter.email" placeholder="E-mail">
                        </div>
                        <div class="form-group mr-sm-3 mb-2">
                            <input type="date" class="form-control" v-model="filter.date" placeholder="Date">
                        </div>
                        <button type="submit" class="btn mr-sm-3 btn-primary mb-2">Search</button>
                        <button type="button" @click.prevent="resetFilter()" class="btn btn-dark mb-2">Reset</button>
                    </form>
                    <div class="filter--actions">
                        <div class="item">
                            <span class="title">Archive</span>
                            <span @click="actionArchive()" class="ivu-switch" :class="{ 'ivu-switch-checked': filter.arhive === 1  }">
                                <span class="ivu-switch-inner">
                                    <span v-if="filter.arhive == 1">On</span>
                                    <span v-else>Off</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>E-mail</th>
                        <th>Fullname</th>
                        <th>Cost</th>
                        <th>Date created</th>
                        <th>Status</th>
                        <th>Transaction</th>
                        <th>Date to</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(payment, index) in payments">
                        <td>{{ payment.id}}</td>
                        <td>{{ payment.email}}</td>
                        <td>{{ payment.fullname}}</td>
                        <td>{{ payment.cost}}</td>
                        <td>{{ payment.created_at}}</td>
                        <td>
                            <span class="badge badge-warning" v-if="payment.status === 0">not paid</span>
                            <span class="badge badge-success" v-if="payment.status === 1">paid</span>
                            <span class="badge badge-info" v-if="payment.status === 3">refund</span>
                        </td>
                        <td>{{payment.chargeid}}</td>
                        <td>{{payment.date_to}}</td>
                        <td>
                            <div class="actions">
                                <button type="button" @click.prevent="refundPayment(payment.id,index)" class="btn btn-info" title="Refund"><i class="fas fa-exchange-alt"></i></button>
                                <button type="button" @click.prevent="archivePayment(payment.id,index)" class="btn btn-danger" title="Archive" v-if="payment.arhive === 0"><i class="fas fa-archive"></i></button>
                                <button type="button" @click.prevent="archiveReestablish(payment.id,index)" class="btn btn-danger" title="Reestablish" v-if="payment.arhive === 1"><i class="fas fa-archive"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "payments",
        data: function () {
            return {
                payments: [],
                filter:{
                    fullname: '',
                    email: '',
                    date: '',
                    arhive: 0,
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getPayments();
        },
        methods: {
            getPayments() {
                axios.get('/admin/payments/show')
                    .then((response) => {
                        this.payments = response.data;
                    })
                    .catch(error => {
                    });
            },
            resetFilter() {
                axios.get('/admin/payments/show')
                    .then((response) => {
                        this.payments = response.data;
                        this.clear();
                    })
                    .catch(error => {
                    });
            },
            actionArchive(){
                if (this.filter.arhive === 0){
                    this.filter.arhive = 1;
                    this.getArchive();
                }else{
                    this.filter.arhive = 0;
                    this.getPayments();
                }
            },
            getArchive() {
                axios.get('/admin/payments/archive')
                    .then((response) => {
                        this.payments = response.data;

                    })
                    .catch(error => {
                    });
            },
            submitFilter() {
                axios.get('/admin/payments/filter',{
                    params:{
                        fullname: this.filter.fullname,
                        email: this.filter.email,
                        date: this.filter.date,
                        arhive: this.filter.arhive
                    }
                })
                .then((response) => {
                    this.payments = response.data;
                })
                .catch(error => {
                });
            },

            archivePayment(id,x){
                toastDelete.fire({
                    title: 'Archive?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/payments/archive',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.payments.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            archiveReestablish(id,x){
                toastDelete.fire({
                    title: 'Reestablish?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/payments/reestablish',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.payments.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            refundPayment(id,x){
                const that = this;
                toastDelete.fire({
                    title: 'Refund?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/payments/refund',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                   let el = that.payments.find((f,idx) => idx === x);
                                   if (el){
                                       el.status = 3;
                                   }
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            clear(){
                this.filter.fullname = '';
                this.filter.email = '';
                this.filter.date = '';
                this.filter.arhive = 0;
            }
        }
    }
</script>

<style scoped>

</style>