<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
                </div>
            </div>
            <div class="panel-body">
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Link</th>
                        <th>Description</th>
                        <th>Sort</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(service, index) in services">
                            <td>{{ service.id}}</td>
                            <td>{{ service.label}}</td>
                            <td>
                                <img :src="service.img" class="img-round" v-if="service.img" :alt="service.label">
                            </td>
                            <td>{{ service.link}}</td>
                            <td>{{ service.description}}</td>
                            <td>{{ service.sortorder}}</td>
                            <td>
                                <div class="actions">
                                    <a :href="'/admin/services/stats/show/'+service.id" class="btn btn-info" title="Statistic"><i class="fas fa-chart-pie"></i></a>
                                    <button type="button" @click.prevent="showEdit(index)"  class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                    <button type="button" @click.prevent="Delete(service.id,index)" class="btn btn-danger" title="Delete"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Add</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="createService()">
                                <div class="form-group"  v-if="edit.img">
                                    <label for="">Image</label>
                                    <img :src="edit.img" class="img--thumb" alt="изображение">
                                </div>
                                <div class="form-group">
                                    <button type="button" @click.prevent="uploadPrivates()" class="btn btn-primary">Upload image</button>
                                </div>
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" v-model="edit.label" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Link</label>
                                    <input type="text" v-model="edit.link" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea v-model="edit.description" class="form-control" cols="30" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Sort</label>
                                    <input type="text" v-model="edit.sortorder" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="updateService()">
                                <div class="form-group"  v-if="edit.img">
                                    <label for="">Image</label>
                                    <img :src="edit.img" class="img--thumb" alt="изображение">
                                </div>
                                <div class="form-group">
                                    <button type="button" @click.prevent="uploadPrivates()" class="btn btn-primary">Upload image</button>
                                </div>
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" v-model="edit.label" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Link</label>
                                    <input type="text" v-model="edit.link" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea v-model="edit.description" class="form-control" cols="30" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Sort</label>
                                    <input type="text" v-model="edit.sortorder" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Services",
        data: function () {
            return {
                services: [],
                edit: {
                    id: 0,
                    label : '',
                    link : '',
                    description : '',
                    img : '',
                    sortorder : 0
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getservices();
        },
        methods: {
            getservices() {
                axios.get('/admin/services/show')
                    .then((response) => {
                        this.services = response.data;
                    })
                    .catch(error => {
                    });
            },
            Delete(id,x){
                toastDelete.fire({
                    title: 'Delete?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/services/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.services.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },

            createService(){
                axios.post('/admin/services/store',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            this.services.unshift(response.data.service);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            updateService(){
                const that = this;
                axios.post('/admin/services/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.services.find((f, idx) =>  f.id == response.data.service.id);
                            if (el){
                                el.label = response.data.service.label;
                                el.description = response.data.service.description;
                                el.img = response.data.service.img;
                                el.link = response.data.service.link;
                                el.sortorder = response.data.service.sortorder;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            showEdit(id){
                let el = this.services.find((f,idx) => idx === id);
                if (el){
                    this.edit.label = el.label;
                    this.edit.id = el.id;
                    this.edit.description = el.description;
                    this.edit.link = el.link;
                    this.edit.img = el.img;
                    $('#showEdit').modal('show');
                }
            },
            uploadPrivates(){
                this.selectFileWithCKFinder();
            },
            selectFileWithCKFinder() {
                const that = this;
                CKFinder.popup({
                    chooseFiles: true,
                    width: 800,
                    height: 600,
                    onInit: function( finder ) {
                        finder.on( 'files:choose', function( evt ) {
                            let file = evt.data.files.first();
                            that.edit.img = file.getUrl();
                        } );

                        finder.on( 'file:choose:resizedImage', function( evt ) {
                            that.edit.img = evt.data.resizedUrl;
                        } );
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>