<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
                </div>
            </div>
            <div class="panel-body">
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Title</th>
                        <th>Value</th>
                        <th>Published</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(stat, index) in stats">
                        <td>{{ stat.id}}</td>
                        <td>{{ stat.title}}</td>
                        <td>{{ stat.value}}</td>
                        <td>
                        <span @click="Published(stat.id,index,stat.published)" class="ivu-switch" :class="{ 'ivu-switch-checked': stat.published === 1  }">
                            <span class="ivu-switch-inner">
                                <span v-if="stat.published == 1">On</span>
                                <span v-else>Off</span>
                            </span>
                        </span>
                        </td>
                        <td>
                            <div class="actions">
                                <button type="button" @click.prevent="showEdit(index)"  class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" @click.prevent="Delete(stat.id,index)" class="btn btn-danger" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Add</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="createStat()">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" v-model="edit.title" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Value</label>
                                    <input type="text" v-model="edit.value" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="updateStat()">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" v-model="edit.title" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Value</label>
                                    <input type="text" v-model="edit.value" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Stats",
        props: [
          "id"
        ],
        data: function () {
            return {
                stats: [],
                edit: {
                    id: 0,
                    title : '',
                    value : '',
                    published : 0
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getservices();
        },
        methods: {
            getservices() {
                axios.get('/admin/services/stats/show',{
                    params:{
                        id: this.id
                    }
                })
                    .then((response) => {
                        this.stats = response.data;
                    })
                    .catch(error => {
                    });
            },
            Delete(id,x){
                toastDelete.fire({
                    title: 'Delete?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/services/stats/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.stats.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            Published(id,x,block){
                const that = this;
                if (block === 0){
                    toastDelete.fire({
                        title: 'Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/services/stats/published',{id:id,type:1})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.stats.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 1
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                } else{
                    toastDelete.fire({
                        title: 'Un Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/services/stats/published',{id:id,type: 0})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.stats.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 0
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                }
            },
            createStat(){
                axios.post('/admin/services/stats/store',{
                    service: this.id,
                    title: this.edit.title,
                    value: this.edit.value,
                })
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            this.stats.push(response.data.stat);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            updateStat(){
                const that = this;
                axios.post('/admin/services/stats/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.stats.find((f, idx) =>  f.id == response.data.stat.id);
                            if (el){
                                el.title = response.data.stat.title;
                                el.value = response.data.stat.value;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            showEdit(id){
                let el = this.stats.find((f,idx) => idx === id);
                if (el){
                    this.edit.title = el.title;
                    this.edit.id = el.id;
                    this.edit.value = el.value;
                    $('#showEdit').modal('show');
                }
            },
        }
    }
</script>

<style scoped>

</style>