/* Chosen v1.5.1 | (c) 2011-2016 by Harvest | MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md */

.chosen-container{
    position:relative;
    display:inline-block;
    vertical-align:middle;
    font-size:13px;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    text-align: left;
}
.chosen-container *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.chosen-container .chosen-drop{
    position:absolute;
    top:100%;
    left:-9999px;
    z-index:1010;
    width:100%;
    border:0;
    display: flex;
    flex-wrap: wrap;
    border:1px solid #aaa;
    background:#fff;
}.chosen-container.chosen-with-drop .chosen-drop{left:0}.chosen-container a{cursor:pointer}.chosen-container .search-choice .group-name,.chosen-container .chosen-single .group-name{margin-right:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight:400;color:#999}.chosen-container .search-choice .group-name:after,.chosen-container .chosen-single .group-name:after{content:":";padding-left:2px;vertical-align:top}
.chosen-container-single .chosen-single{
    position: relative;
    overflow: hidden;
    padding: 0 0 0 8px;
    border: 1px solid transparent;
    border-bottom: 1px solid #aaa;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    height: 52px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}
.chosen-container-single .chosen-default{color:#999}
.chosen-container-single .chosen-single span{
    display:block;
    overflow:hidden;
    margin-right:26px;
    text-overflow:ellipsis;
    white-space:nowrap
}
.chosen-container-active.chosen-with-drop .chosen-single span{
    padding-left: 10px;
}
.chosen-container-single .chosen-single-with-deselect span{margin-right:38px}.chosen-container-single .chosen-single abbr{position:absolute;top:6px;right:26px;display:block;width:12px;height:12px;background:url(chosen-sprite.png) -42px 1px no-repeat;font-size:1px}.chosen-container-single .chosen-single abbr:hover{background-position:-42px -10px}.chosen-container-single.chosen-disabled .chosen-single abbr:hover{background-position:-42px -10px}
.chosen-container-single .chosen-single div
{
    position:absolute;
    right:0;
    display:block;
    width:18px;
    height:20px;
}
.chosen-container-single .chosen-single div b{display:block;width:100%;height:100%;background:url(chosen-sprite.png) no-repeat 0 2px}
.chosen-container-single .chosen-search{
    position:relative;
    z-index:1010;
    width: 100%;
    margin:0;
    padding:3px 4px;
    white-space:nowrap
}
.chosen-container-single .chosen-search input[type=text]{
    display: block;
    border: 1px solid rgba(170, 170, 170, 0.3215686274509804);
    width: 96%;
    margin: 0 auto 5px;
    padding: 15px 10px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    height:auto;
    outline:0;
    font-size:1em;
    font-family:sans-serif;
    line-height:normal;
    border-radius:0
}.chosen-container-single .chosen-drop{margin-top:-1px;border-radius:0 0 4px 4px;background-clip:padding-box}.chosen-container-single.chosen-container-single-nosearch .chosen-search{position:absolute;left:-9999px}
.chosen-container .chosen-results{
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 0px 4px 0;
    /* padding: 0 0 0 4px; */
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}
.chosen-container .chosen-results li{
    display: none;
    margin: 0;
    padding: 15px 17px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
}.chosen-container .chosen-results li.active-result{display:list-item;cursor:pointer}.chosen-container .chosen-results li.disabled-result{display:list-item;color:#ccc;cursor:default}
.chosen-container .chosen-results li.highlighted{
    background-color: #3e0ef5;
    color:#fff
}.chosen-container .chosen-results li.no-results{color:#777;display:list-item;background:#f4f4f4}.chosen-container .chosen-results li.group-result{display:list-item;font-weight:700;cursor:default}.chosen-container .chosen-results li.group-option{padding-left:15px}.chosen-container .chosen-results li em{font-style:normal;text-decoration:underline}.chosen-container-multi .chosen-choices{position:relative;overflow:hidden;margin:0;padding:0 5px;width:100%;height:auto!important;height:1%;border:1px solid #aaa;background-color:#fff;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));background-image:-webkit-linear-gradient(#eee 1%,#fff 15%);background-image:-moz-linear-gradient(#eee 1%,#fff 15%);background-image:-o-linear-gradient(#eee 1%,#fff 15%);background-image:linear-gradient(#eee 1%,#fff 15%);cursor:text}.chosen-container-multi .chosen-choices li{float:left;list-style:none}.chosen-container-multi .chosen-choices li.search-field{margin:0;padding:0;white-space:nowrap}.chosen-container-multi .chosen-choices li.search-field input[type=text]{margin:1px 0;padding:0;height:25px;outline:0;border:0!important;background:transparent!important;box-shadow:none;color:#999;font-size:100%;font-family:sans-serif;line-height:normal;border-radius:0}.chosen-container-multi .chosen-choices li.search-choice{position:relative;margin:3px 5px 3px 0;padding:3px 20px 3px 5px;border:1px solid #aaa;max-width:100%;border-radius:3px;background-color:#eee;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));background-image:-webkit-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-size:100% 19px;background-repeat:repeat-x;background-clip:padding-box;box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);color:#333;line-height:13px;cursor:default}.chosen-container-multi .chosen-choices li.search-choice span{word-wrap:break-word}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{position:absolute;top:4px;right:3px;display:block;width:12px;height:12px;background:url(chosen-sprite.png) -42px 1px no-repeat;font-size:1px}.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{background-position:-42px -10px}.chosen-container-multi .chosen-choices li.search-choice-disabled{padding-right:5px;border:1px solid #ccc;background-color:#e4e4e4;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));background-image:-webkit-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:-o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);color:#666}.chosen-container-multi .chosen-choices li.search-choice-focus{background:#d4d4d4}.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close{background-position:-42px -10px}.chosen-container-multi .chosen-results{margin:0;padding:0}.chosen-container-multi .chosen-drop .result-selected{display:list-item;color:#ccc;cursor:default}
.chosen-container-active .chosen-single{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.chosen-container-active.chosen-with-drop .chosen-single{
    border: 1px solid #aaa;
    float: left;
    width: 100%;
    padding: 15px 0px;
    cursor: pointer;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
}
.chosen-container-active.chosen-with-drop .chosen-single div{border-left:0;background:transparent}.chosen-container-active.chosen-with-drop .chosen-single div b{background-position:-18px 2px}.chosen-container-active .chosen-choices{border:1px solid #5897fb;box-shadow:0 0 5px rgba(0,0,0,.3)}.chosen-container-active .chosen-choices li.search-field input[type=text]{color:#222!important}.chosen-disabled{opacity:.5!important;cursor:default}.chosen-disabled .chosen-single{cursor:default}.chosen-disabled .chosen-choices .search-choice .search-choice-close{cursor:default}.chosen-rtl{text-align:right}.chosen-rtl .chosen-single{overflow:visible;padding:0 8px 0 0}.chosen-rtl .chosen-single span{margin-right:0;margin-left:26px;direction:rtl}.chosen-rtl .chosen-single-with-deselect span{margin-left:38px}.chosen-rtl .chosen-single div{right:auto;left:3px}.chosen-rtl .chosen-single abbr{right:auto;left:26px}.chosen-rtl .chosen-choices li{float:right}.chosen-rtl .chosen-choices li.search-field input[type=text]{direction:rtl}.chosen-rtl .chosen-choices li.search-choice{margin:3px 5px 3px 0;padding:3px 5px 3px 19px}.chosen-rtl .chosen-choices li.search-choice .search-choice-close{right:auto;left:4px}.chosen-rtl.chosen-container-single-nosearch .chosen-search,.chosen-rtl .chosen-drop{left:9999px}.chosen-rtl.chosen-container-single .chosen-results{margin:0 0 4px 4px;padding:0 4px 0 0}.chosen-rtl .chosen-results li.group-option{padding-right:15px;padding-left:0}.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div{border-right:0}.chosen-rtl .chosen-search input[type=text]{padding:4px 5px 4px 20px;background:#fff url(chosen-sprite.png) no-repeat -30px -20px;background:url(chosen-sprite.png) no-repeat -30px -20px;direction:rtl}.chosen-rtl.chosen-container-single .chosen-single div b{background-position:6px 2px}.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b{background-position:-12px 2px}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi),only screen and (min-resolution:1.5dppx){.chosen-rtl .chosen-search input[type=text],
.chosen-container-single .chosen-single abbr,.chosen-container-single .chosen-single div b,.chosen-container-single .chosen-search input[type=text],.chosen-container-multi .chosen-choices .search-choice .search-choice-close,.chosen-container .chosen-results-scroll-down span,.chosen-container .chosen-results-scroll-up span{background-image:url(chosen-sprite@2x.png)!important;background-size:52px 37px!important;background-repeat:no-repeat!important}}
/*
Theme Name:   --
Theme URI:    --
Author:       --
Author URI:   --
Version:      1.1.1
Text Domain:  --
*/
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,600,700,800&display=swap');

@font-face {
font-family: 'AdsR';
font-weight: 300;
font-style: normal;
font-display: swap;
src: url('fonts/ProximaNova-Light.eot');
src: url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
url('fonts/ProximaNova-Light.woff') format('woff');
}

@font-face {
font-family: 'AdsR';
font-weight: 400;
font-style: normal;
font-display:swap;
src: url('fonts/ProximaNova-Regular.eot');
src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
font-family: 'AdsR';
font-weight: 500;
font-style: normal;
font-display:swap;
src: url('fonts/ProximaNova-Semibold.eot');
src: url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
url('fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
font-family: 'AdsR';
font-weight: 700;
font-style: normal;
font-display:swap;
src: url('fonts/ProximaNova-Bold.eot');
src: url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
font-family: 'AdsR';
font-weight: 900;
font-style: normal;
font-display:swap;
src: url('fonts/ProximaNova-Black.eot');
src: url('fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
url('fonts/ProximaNova-Black.woff') format('woff');
}

* {
margin: 0px;
padding: 0px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

::-webkit-scrollbar {
width: 8px;
}

::-webkit-scrollbar-track-piece {
background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:vertical {
background-color: #ccc;
}

::-webkit-scrollbar-thumb:window-inactive {
background-color: #ddd;
}

::-webkit-scrollbar-thumb:vertical:hover {
background-color: #aaa;
}

::-webkit-scrollbar-thumb:horizontal {
width: 4px;
height: 6px;
background-color: #ccc;
}

::-webkit-scrollbar:horizontal {
width: 8px;
height: 6px;
}

:active, :hover, :focus {
outline: 0;
outline-offset: 0;
}

a {
text-decoration: none;
color: #000;
}

img {
vertical-align: middle;
max-width: 100%;
}

body {
font-size: 16px;
line-height: 1.3;
font-family: 'AdsR', sans-serif;
font-weight: 400;
color: #000;
min-height: 100%;
position: relative;
overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
font-weight: 700;
}

button, input, optgroup, select, textarea {
margin: 0;
font: inherit;
line-height: inherit;
}

html {
height: 100%;
}

.container {
max-width: 1220px;
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
}

.container_about {
max-width: 820px;
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
}

.container:before,
.container:after,
.container_about:before,
.container_about:after,
.row:before,
.row:after,
.row_2:before,
.row_2:after,
.row_3:before,
.row_3:after,
.row_4:before,
.row_4:after,
.table_row_a:before,
.table_row_a:after,
.row_5:before,
.row_5:after {
content: " ";
display: table;
clear: both;
}

.wow {
visibility: hidden;
}

.row {
margin-left: -15px;
margin-right: -15px;
}

.row_2 {
margin-left: -5px;
margin-right: -5px;
}

.row_3 {
margin-left: -10px;
margin-right: -10px;
}

.row_4 {
margin-left: -25px;
margin-right: -25px;
}

.row_5 {
margin-left: -20px;
margin-right: -20px;
}

.clr {
clear: both;
}

.relative {
position: relative;
}

.line_z {
position: fixed;
z-index: 11;
left: 0;
bottom: 0;
width: 100%;
height: 10px;
background: #25e29e;
box-shadow: 0 2px 25px rgba(51, 241, 172, 0.4);
}

.header_inner {
border-bottom: 1px solid #eee;
}

.header {
position: absolute;
left: 0;
top: 0;
z-index: 15;
width: 100%;
height: 95px;
}

.header.header_bg {
background: #1b053e;
border-bottom: none;
box-shadow: -5px 14px 30px -12px rgba(0,0,0,.15);
}

.header_col {
float: left;
width: 100%;
position: relative;
padding: 25px 0px;
}

.header_col .logo {
float: left;
width: 205px;
margin-top: 11px;
}

.header_col .nav_col {
float: right;
margin-top: 13px;
margin-right: 50px;
}

.header_col .nav_col ul {
list-style: none;
margin: 0;
padding: 0;
}

.header_col .nav_col ul li {
float: left;
}

.header_col .nav_col ul li a {
color: #fff;
padding: 12px 20px;
font-size: 12px;
border-radius: 44px;
transition: 0.2s ease-in-out;
line-height: 16px;
font-weight: 700;
text-align: center;
letter-spacing: 0.02em;
cursor: pointer;
text-transform: uppercase;
}

.header_col .nav_col ul li .active {
background: rgba(255,255,255,0.2);
}

.header_col .nav_col ul li a:hover {
background: rgba(255,255,255,0.1);
}

.header_col .btn_add {
float: right;
padding: 14px 24px;
font-size: 12px;
border-radius: 4px;
background-color: #ff194e;
box-shadow: 0 2px 25px rgba(247, 10, 58, 0.8);
color: #fff;
line-height: 16px;
font-weight: 700;
text-align: center;
transition: 0.2s ease-in-out;
margin-left: 30px;
letter-spacing: 0.02em;
cursor: pointer;
text-transform: uppercase;
}
.btn--add {
display: flex;
align-self: center;
padding: 14px 24px;
font-size: 12px;
border-radius: 4px;
background: #3e0ef5;
color: #fff;
line-height: 16px;
font-weight: 700;
text-align: center;
transition: 0.2s ease-in-out;
letter-spacing: 0.02em;
cursor: pointer;
text-transform: uppercase;
}
.btn--delete {
display: flex;
align-self: center;
padding: 14px 24px;
font-size: 12px;
border-radius: 4px;
background-color: #ff194e;
color: #fff;
line-height: 16px;
font-weight: 700;
text-align: center;
transition: 0.2s ease-in-out;
letter-spacing: 0.02em;
cursor: pointer;
text-transform: uppercase;
}
.social__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn-action{margin-right: 30px; border: none;}
.btn-action:last-of-type{ margin-right: 0;}
.btn-action:hover{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;}
.header_col .btn_add.ntn_s {
background: #3e0ef5;
box-shadow: 0 2px 25px rgba(62, 14, 245, 0.7);
}

.header_col .btn_add i {
vertical-align: middle;
margin-left: 5px;
}

.header_col .btn_add:hover {
border-radius: 84px;
}

.center_btn {
margin-top: 50px;
float: left;
text-align: center;
width: 100%;
}

.center_btn.mt20 {
margin-top: 20px;
}

.g-recaptcha {
display: inline-block;
margin-top: 15px;
}

.margin_col {
display: inline-block;
width: 100%;
padding-bottom: 320px;
}

.home_col.about_us .home_box {
float: right;
width: 52%;
margin-top: 29vh;
text-align: left;
}

.home_col.about_us .img_about {
float: left;
width: 45%;
position: relative;
margin-top: 28vh;
z-index: 3;
}

.home_col.about_us .img_about img {
border-radius: 6px;
}

.home_col.about_us .home_box .title {
font-size: 85px;
}

.home_col {
float: left;
width: 100%;
position: relative;
background: #1b053e;
height: 100vh;
}

#particles-js {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
}

#particles-js_a {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
}

#particles-js_b {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
}

.home_col.left_sign_col {
overflow: hidden;
}
.home_col.left_sign_col .logo {
    display: block;
}
.home_box.left_sign {
width: 580px;
height: 100%;
margin-top: 32vh;
padding: 0px 50px;
}

.home_box.left_sign .title {
font-size: 40px;
margin-top: 20px;
margin-bottom: 30px;
}

.right_sign {
overflow: hidden;
padding: 80px;
text-align: center;
background: #fff;
height: 100%;
position: relative;
z-index: 3;
}

.over_sign {
overflow-y: scroll;
}

.cheker .txt {
font-size: 13px;
}

.window_sign {
display: inline-block;
width: 560px;
margin-top: 11vh;
text-align: left;
}

.window_sign .title {
float: left;
width: 100%;
font-size: 46px;
font-weight: 700;
line-height: 1;
color: #1d0642;
font-family: 'Barlow', sans-serif;
margin-bottom: 20px;
position: relative;
}

.window_sign .descr {
width: 100%;
display: inline-block;
font-size: 16px;
font-weight: 400;
margin-bottom: 25px;
}

.home_box {
float: left;
width: 100%;
margin-top: 32vh;
position: relative;
text-align: center;
z-index: 3;
}

.home_box .title {
float: left;
width: 100%;
font-size: 60px;
font-weight: 700;
line-height: 1;
font-family: 'Barlow', sans-serif;
margin-bottom: 40px;
color: #fff;
}

.home_box .descr {
float: left;
width: 100%;
color: #fff;
font-size: 16px;
opacity: 0.7;
font-weight: 400;
letter-spacing: 0.01em;
line-height: 1.5;
margin-bottom: 40px;
}

.home_img {
position: absolute;
right: 15px;
top: 25vh;
width: 900px;
height: 700px;
content: '';
z-index: 3;
}

.btn {
display: inline-block;
padding: 20px 30px;
font-size: 14px;
border-radius: 4px;
background-color: #3e0ef5;
box-shadow: 0 2px 25px rgba(62, 14, 245, 0.4);
color: #fff;
line-height: 16px;
transition: 0.2s ease-in-out;
font-weight: 500;
text-align: center;
letter-spacing: 0.02em;
cursor: pointer;
text-transform: uppercase;
}

.btn i {
margin-left: 10px;
}

.btn:hover {
border-radius: 84px;
}

.btn_a {
display: inline-block;
padding: 20px 30px;
font-size: 14px;
border-radius: 4px;
background: #ff194e;
box-shadow: 0 2px 15px rgba(247, 10, 58, 0.4);
color: #fff;
line-height: 16px;
transition: 0.2s ease-in-out;
font-weight: 500;
text-align: center;
letter-spacing: 0.02em;
cursor: pointer;
text-transform: uppercase;
}

.btn_a i {
margin-left: 10px;
}

.btn_a:hover {
border-radius: 84px;
}

.btn_b {
display: inline-block;
padding: 20px 30px;
font-size: 12px;
border-radius: 4px;
background: #25e29e;
box-shadow: 0 2px 15px rgba(51, 241, 172, 0.2);
color: #fff;
line-height: 16px;
transition: 0.2s ease-in-out;
font-weight: 500;
text-shadow: 1px 1px 2px #bbb;
text-align: center;
letter-spacing: 0.02em;
cursor: pointer;
text-transform: uppercase;
}

.btn_b i {
margin-left: 10px;
}

.btn_b:hover {
border-radius: 84px;
}

.mrt160 {
margin-top: 160px;
}

.white_col {
float: left;
width: 100%;
padding: 190px 0px 100px 0px;
background: #fff;
}

.gray_col {
float: left;
width: 100%;
padding: 190px 0px 100px 0px;
background: #fcfcfc;
}

.title_col {
float: left;
width: 100%;
text-align: center;
position: relative;
margin-bottom: 15px;
}

.title_col .numb {
color: #bdd5e8;
font-weight: 700;
position: absolute;
width: 30px;
margin-left: -16px;
left: 50%;
letter-spacing: 0.05em;
font-family: 'Barlow', sans-serif;
text-align: center;
font-size: 20px;
top: -115px;
}

.title_col .title {
float: left;
width: 100%;
font-size: 36px;
font-weight: 700;
line-height: 1;
color: #1d0642;
font-family: 'Barlow', sans-serif;
margin-bottom: 15px;
position: relative;
}

.title_col .title:before {
left: 50%;
top: -73px;
width: 3px;
margin-left: -1px;
border-radius: 1px;
height: 50px;
background: #bdd5e8;
content: '';
position: absolute;
}

.title_col_a {
width: 100%;
float: left;
text-align: center;
margin-bottom: 30px;
}

.title_col_a .title {
float: left;
width: 100%;
font-size: 36px;
font-weight: 700;
line-height: 1;
color: #1d0642;
font-family: 'Barlow', sans-serif;
margin-bottom: 15px;
position: relative;
}

.adsfl_work_col {
float: left;
width: 33.33%;
padding: 0px 15px;
}

.adsfl_work_box {
float: left;
width: 100%;
padding: 0px 15px;
text-align: center;
}

.adsfl_work_box .img {
position: relative;
display: inline-block;
width: 70px;
height: 70px;
background: #fff;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.05);
text-align: center;
border-radius: 84px;
margin-bottom: 20px;
transition: 0.2s ease-in-out;
}

.adsfl_work_box .img i {
transition: 0.2s ease-in-out;
}

.adsfl_work_box .img:hover {
width: 90px;
height: 90px;
margin-top: -10px;
}

.adsfl_work_box .img:hover i {
font-size: 40px;
margin-top: 27px;
}

.adsfl_work_box .title {
color: #1d0642;
width: 100%;
display: inline-block;
margin-bottom: 15px;
font-weight: 700;
font-size: 20px;
font-family: 'Barlow', sans-serif;
}

.adsfl_work_box .descr {
font-size: 16px;
color: #555;
display: inline-block;
width: 100%;
font-weight: 400;
}

.adsfl_work_box .img i {
margin-top: 24px;
font-size: 24px;
}

.slick-prev,
.slick-next {
font-size: 0;
line-height: 0;
position: absolute;
top: 50%;
margin-top: -22px;
display: block;
width: 45px;
border: 1px solid #eee;
height: 45px;
box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
padding: 0;
-webkit-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
cursor: pointer;
color: transparent;
outline: none;
background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
color: transparent;
outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
opacity: .25;
}

.slick-prev:before,
.slick-next:before {
font-size: 20px;
line-height: 1;
opacity: .75;
color: white;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

[dir='rtl'] .slick-prev {
right: -25px;
left: auto;
}

.slick-prev:before {
}

[dir='rtl'] .slick-prev:before {
}

[dir='rtl'] .slick-next {
right: auto;
left: -25px;
}

.slick-next:before {
}

[dir='rtl'] .slick-next:before {
}


/* Dots */
.slick-dotted.slick-slider {
margin-bottom: 30px;
}

.slick-dots {
position: absolute;
bottom: -45px;
display: block;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
text-align: center;
}

.slick-dots .slick-active {
width: 35px;
}

.slick-dots li {
position: relative;
display: inline-block;
width: 10px;
height: 5px;
transition: 0.2s ease-in-out;
margin: 0 6px;
border-radius: 2px;
padding: 0;
cursor: pointer;
}

.slick-dots .slick-active button {
background: #ff194e;
}

.slick-dots li button {
font-size: 0;
line-height: 0;
display: block;
width: 100%;
border-radius: 2px;
height: 3px;
cursor: pointer;
color: transparent;
border: 0;
outline: none;
background: #ddd;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
opacity: 1;
}

.slick-dots li button:before {
font-size: 6px;
line-height: 20px;
display: none;
position: absolute;
top: 0;
left: 0;
width: 20px;
height: 20px;
content: '•';
text-align: center;
opacity: .25;
color: black;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
opacity: .75;
color: black;
}

.slick_rew, .slick_brand {
display: inline-block;
width: 100%;
z-index: 1;
position: relative;
}

.slick_rew .slick-list, .slick_brand .slick-list {
overflow: hidden;
}

.slick_rew .slick-slide, .slick_brand .slick-slide {
float: left;
}

.slick_rew .slick-prev, .slick_brand .slick-prev {
left: -65px;
width: 50px;
height: 50px;
margin-top: 0;
box-shadow: 0px 2px 20px -5px rgba(0,0,0,.15);
background: #fff url(img/prev.svg);
background-position: center;
background-size: 30%;
background-repeat: no-repeat;
border-radius: 50%;
z-index: 1;
}

.slick_rew .slick-next, .slick_brand .slick-next {
right: -65px;
width: 50px;
height: 50px;
margin-top: 0;
box-shadow: 0px 2px 20px -5px rgba(0,0,0,.15);
background: #fff url(img/next.svg);
background-position: center;
background-size: 30%;
background-repeat: no-repeat;
border-radius: 50%;
z-index: 1;
}

.slick_rew .item_reviews {
background: #fff;
margin: 40px 20px;
padding: 45px 25px;
border-radius: 4px;
position: relative;
opacity: 0.6;
transition: all 300ms ease;
position: relative;
text-align: center;
box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);
}

.slick_rew .item_reviews:before {
right: 15px;
bottom: 10px;
background: url(img/qt1.svg);
background-position: center;
background-size: 80%;
background-repeat: no-repeat;
position: absolute;
content: '';
width: 40px;
height: 40px;
transition: 0.2s ease-in-out;
visibility: hidden;
opacity: 0;
}

.slick_rew .slick-center .item_reviews {
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
-webkit-transform: scale(1.1);
opacity: 1;
transform: scale(1.1);
letter-spacing: -0.02em;
}

.slick_rew .slick-center .item_reviews:before {
visibility: visible;
opacity: 1;
}

.slick_rew .item_reviews .rating,.slick_rew .item_reviews .rating-stars {
margin-bottom: 20px;
}

.slick_rew .item_reviews .descr {
font-size: 14px;
font-weight: 400;
display: inline-block;
width: 100%;
margin-bottom: 20px;
}

.slick_rew .item_reviews .name {
font-weight: 700;
font-size: 14px;
}

.rating {
display: inline-block;
font-size: 16px;
font-weight: 500;
cursor: pointer;
color: #ddd;
}

.rating .good {
color: #ff194e;
font-weight: 700 !important;
}

.rating i:hover {
color: #bbb;
font-weight: 700;
}

.rating .rt_t {
color: #000;
margin-bottom: 10px;
}

.rating-stars {
display: inline-block;
font-size: 16px;
font-weight: 500;
cursor: pointer;
color: #ddd;
}

.rating-stars .good {
color: #ff194e;
font-weight: 700 !important;
}


.rating-stars .rt_t {
color: #000;
margin-bottom: 10px;
}

.reporting_col.rep_right {
margin-top: 120px;
}

.reporting_col.rep_right .content_a {
float: right;
}

.reporting_col.rep_right .content_b {
padding-left: 0px;
padding-right: 100px;
}

.reporting_col {
float: left;
width: 100%;
margin-top: 30px;
}

.reporting_col .content_a {
float: left;
width: 450px;
}

.reporting_col .content_a .title {
font-size: 26px;
font-weight: 700;
line-height: 1;
color: #1d0642;
font-family: 'Barlow', sans-serif;
margin-bottom: 15px;
position: relative;
margin-top: 22px;
margin-left: 100px;
float: none;
}

.reporting_col .content_a .img {
position: relative;
display: inline-block;
width: 70px;
height: 70px;
background: #fff;
box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);
text-align: center;
border-radius: 84px;
margin-bottom: 30px;
}

.reporting_col .content_a .img i {
font-size: 24px;
color: #bdd5e8;
margin-top: 24px;
}

.reporting_col .content_a .descr {
font-size: 16px;
line-height: 1.6;
font-weight: 400;
color: #333;
display: inline-block;
width: 100%;
margin-bottom: 30px;
}

.reporting_col .content_b {
overflow: hidden;
padding-left: 100px;
}

.reporting_col .img {
float: left;
width: 50%;
padding: 0px 15px;
}

.reporting_col .img .title {
color: #1d0642;
font-size: 14px;
display: inline-block;
width: 100%;
margin-top: 12px;
font-weight: 700;
}

.spoiler {
float: left;
width: 100%;
}

.spoiler .spoiler-title {
cursor: pointer;
display: inline-block;
text-align: left;
font-size: 20px;
letter-spacing: 0.01em;
padding: 25px 0px;
margin-bottom: -1px;
width: 100%;
border-bottom: 1px solid #f4f8fb;
color: #1d0642;
font-weight: 500;
line-height: 1.3;
transition: 0.2s;
position: relative;
}

.spoiler .spoiler-title .img {
position: relative;
display: inline-block;
width: 40px;
height: 40px;
background: #fff;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.05);
text-align: center;
border-radius: 84px;
margin-right: 25px;
}

.spoiler .spoiler-title .img i {
font-size: 16px;
color: #bdd5e8;
margin-top: 12px;
}

.spoiler .spoiler-title:before {
content: '';
float: right;
height: 8px;
width: 8px;
color: #1d0642;
margin: 16px 0px 0px 1px;
vertical-align: middle;
border-right: 2px solid;
border-bottom: 2px solid;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-transition: -webkit-transform .2s ease-out;
transition: -webkit-transform .2s ease-out;
transition: transform .2s ease-out;
transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.spoiler.is-active .spoiler-title::before {
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
color: #fff;
}

.spoiler.is-active .spoiler-title i {
color: #3e0ef5;
}

.spoiler.is-active .spoiler-title {
color: #fff;
border-bottom: 1px solid #3e0ef5;
background-color: #3e0ef5;
box-shadow: 0 2px 20px rgba(62, 14, 245, 0.4);
transition: 0.2s;
padding: 25px;
border-radius: 4px;
margin-bottom: 20px;
}

.spoiler-content {
width: 100%;
font-size: 16px;
padding: 20px 20px;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.05);
border-radius: 4px;
line-height: 1.5;
color: #000;
font-weight: 400;
text-align: left;
}

.spoiler .spoiler-content {
display: none;
margin: 0;
}

.mrt40 {
margin-top: 40px;
}

.site_col {
float: left;
width: 100%;
position: relative;
}

.site_col .img {
float: left;
width: 470px;
filter: contrast(100%);
z-index: 1;
}

.site_col .img img {
border-radius: 4px;
}

.site_col .content {
overflow: hidden;
padding-left: 60px;
}

.site_col .content .title {
float: left;
width: 100%;
font-size: 28px;
font-weight: 700;
line-height: 1;
color: #1d0642;
font-family: 'Barlow', sans-serif;
margin-bottom: 20px;
position: relative;
}

.site_col .content a.title:hover {
text-decoration: underline;
}

.site_col .content .title i {
margin-left: 8px;
color: #ff194e;
}

.site_col .content .descr {
font-size: 16px;
line-height: 1.5;
width: 100%;
display: inline-block;
margin-bottom: 25px;
}

.counts_xx_block {
float: right;
padding-left: 0px;
width: 100%;
position: relative;
z-index: 2;
}

.couts_xx_col {
float: left;
width: 25%;
padding: 15px 15px;
}

.couts_go_box {
float: left;
width: 100%;
color: #000;
}

.couts_go_box .count {
font-size: 32px;
display: inline-block;
position: relative;
line-height: 1;
font-weight: 700;
font-family: 'Barlow', sans-serif;
margin-bottom: 10px;
color: #282254;
}

.couts_go_box .count.color_blue {
color: #282254;
}

.couts_go_box .count.color_blue:before {
color: #282254;
}

.couts_go_box .count:before {
content: "\f541";
font-family: "Font Awesome 5 Pro";
font-size: 20px;
color: #282254;
font-weight: 300;
position: relative;
margin-left: 15px;
float: right;
}

.couts_go_box .count.no_before:before {
display: none;
}

.couts_go_box span {
color: #5f778c;
font-size: 14px;
width: 100%;
display: inline-block;
font-weight: 700;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.tab {
float: left;
width: 100%;
margin-top: 40px;
}

.tabs {
list-style: none;
margin: 0;
padding: 0;
text-align: center;
width: 100%;
float: left;
}

.tabs li {
cursor: pointer;
display: inline-block;
margin: 0px 10px;
transition: 0.1s ease-in-out;
}

.tabs span,.tabs a {
display: inline-block;
padding: 20px 30px;
font-size: 12px;
border-radius: 4px;
background-color: #3e0ef5;
box-shadow: 0 2px 15px rgba(62, 14, 245, 0.4);
color: #fff;
line-height: 14px;
transition: 0.2s ease-in-out;
font-weight: 700;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
text-transform: uppercase;
}

.tabs span:hover,.tabs a:hover {
background: #463b98;
color: #fff;
box-shadow: 0 4px 15px rgba(40, 34, 84, 0.3);
}

.tabs span:hover i,.tabs a:hover i {
color: #fff;
}

.tabs span i,.tabs a i {
color: #6f4aff;
margin-left: 10px;
transition: 0.2s ease-in-out;
}

.current a i,.current span i {
color: #fff;
}

.current a,.current span {
color: #fff;
background-color: #ff194e;
box-shadow: 0 2px 15px rgba(247, 10, 58, 0.4);
}

.tab_content {
background-color: #fff;
float: left;
width: 100%;
height: auto;
margin-top: 25px;
padding: 35px;
border-radius: 4px;
box-shadow: 0 0 30px 0 rgba(0,0,0,0.05);
}

.tabs_item {
display: none;
}

.footer {
left: 0;
width: 100%;
padding: 100px 0px 80px 0px;
position: absolute;
bottom: -2px;
overflow: hidden;
background: #1b053e;
}

.footer_col {
float: left;
width: 100%;
z-index: 3;
position: relative;
}

.footer_box_copyright {
float: left;
width: 30%;
padding: 0px 15px;
color: #fff;
}

.footer_box_copyright img {
width: 100%;
display: inline-block;
max-width: 212px;
}

.footer_box {
float: left;
width: 22%;
padding: 0px 15px;
}

.footer_box ul {
float: left;
width: 100%;
letter-spacing: 0.02em;
list-style: none;
font-size: 14px;
color: #fff;
line-height: 1.7;
}

.footer_box ul li {
float: left;
width: 100%;
margin-bottom: 5px;
}

.footer_box ul li a {
color: #fff;
cursor: pointer;
}

.footer_box ul li a:hover {
text-decoration: underline;
}

.footer_box_title {
float: left;
width: 100%;
font-size: 20px;
letter-spacing: 0.01em;
font-weight: 700;
line-height: 1;
color: #fff;
font-family: 'Barlow', sans-serif;
margin-bottom: 15px;
position: relative;
}

.footer_copyright {
float: left;
width: 100%;
font-size: 14px;
color: #fff;
margin-top: 15px;
}

.footer_copyright a {
color: #fff;
text-decoration: underline;
}

.footer_copyright span {
width: 100%;
display: inline-block;
font-size: 12px;
color: #ababab;
line-height: 1.1;
margin-top: 3px;
}

.footer_box_copyright .btn {
font-size: 12px;
margin-top: 18px;
padding: 18px 30px;
background-color: #ff194e;
box-shadow: 0 2px 25px rgba(247, 10, 58, 0.4);
}

.footer_phone {
font-size: 20px !important;
}

.sc_xx_cl {
display: inline-block;
margin-top: 15px;
margin-left: -6px;
}

.circle_soc_a {
display: inline-block;
width: 34px;
height: 34px;
margin: 0px 6px;
border-radius: 50px;
color: #fff;
background-color: #3e0ef5;
box-shadow: 0 2px 25px rgba(62, 14, 245, 0.4);
font-size: 14px;
line-height: 2.5;
text-align: center;
transition: 0.2s ease-in-out;
}

.circle_soc_a:hover {
background: #fff;
color: #ff1776;
}

.input_group {
float: left;
width: 100%;
margin-bottom: 30px;
position: relative;
padding-left: 35px;
display: flex;
flex-wrap: wrap;
align-items: center;
}
.recaptcha_group {
float: left;
width: 100%;
margin-bottom: 30px;
position: relative;
padding-left: 0;
display: flex;
flex-direction: column;
}

.input_group .info {
float: left;
margin-top: 10px;
font-size: 10px;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 0.01em;
}

.input_group .icon {
position: absolute;
left: 0;
top: 15px;
font-size: 20px;
color: #bdd5e8;
}
.social__box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.social__group{
    width: calc(50% - 15px);
    position: relative;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    transition: 0.2s ease-in-out;
    border-radius: 4px;
    border: 1px solid #f9f9f9;
}
.social__group input{
    height: 100%;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.social__group .circle_box_sm{
    position: absolute;
    left: 0;
}
.input_group .input{
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(170, 170, 170, 0.3215686274509804);
    width: 96%;
    padding: 15px 0px;
    cursor: pointer;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}

.input_group .input::placeholder{
color: #000;
}

.input_group .input:focus{
border: 1px solid #000;
font-weight: 700;
padding: 15px 15px;
background: #fff;
border-radius: 4px;
}

.toggle_password {
position: absolute;
right: 20px;
cursor: pointer;
height: 52px;
color: #000;
text-align: center;
width: 52px;
border-radius: 4px;
transition: 0.2s ease-in-out;
}

.toggle_password:hover {
border: 1px solid #3e0ef5;
background-color: #3e0ef5;
box-shadow: 0 2px 25px rgba(62, 14, 245, 0.4);
color: #fff;
}

.show_pass:before {
content: "\f070" !important;
font-family: "Font Awesome 5 Pro";
font-weight: 400;
font-size: 18px;
}

.toggle_password span {
display: inline-block;
padding-top: 15px;
}

.toggle_password span:before {
content: "\f06e";
font-family: "Font Awesome 5 Pro";
font-weight: 400;
font-size: 18px;
}

.cheker {
float: left;
width: 100%;
margin-bottom: 25px;
position: relative;
}

.cheker label input[type = "checkbox"] {
display: none;
}

.cheker [type=checkbox]:checked + span:before {
font-family: "Font Awesome 5 Pro";
font-size: 13px;
content: "\f00c";
font-weight: 700;
position: absolute;
top: 0px;
color: #fff;
left: 0px;
width: 16px;
height: 16px;
background: #ff194e;
}

.rmb {
color: #000;
font-size: 14px;
float: left;
font-weight: 700;
margin-left: 5px;
}

.cheker label span {
height: 18px;
width: 18px;
border: 2px solid #ff194e;
box-shadow: 0 2px 25px rgba(247, 10, 58, 0.4);
border-radius: 2px;
display: inline-block;
position: relative;
cursor: pointer;
margin-right: 8px;
float: left;
}

.forget_password {
font-size: 14px;
float: right;
font-weight: 700;
padding-bottom: 3px;
}

.forget_password:hover {
text-decoration: underline;
}

.btn_submit {
float: left;
padding: 20px 30px;
font-size: 14px;
border-radius: 4px;
border: 1px solid #3e0ef5;
background-color: #3e0ef5;
box-shadow: 0 2px 25px rgba(62, 14, 245, 0.4);
color: #fff;
line-height: 16px;
transition: 0.2s ease-in-out;
font-weight: 500;
text-align: center;
letter-spacing: 0.02em;
cursor: pointer;
text-transform: uppercase;
}

.btn_submit:hover {
background: #4126d0;
border-radius: 84px;
border: 1px solid #4126d0;
box-shadow: 0 2px 25px rgba(65, 38, 208, 0.4);
color: #fff;
}

.social_login {
float: right;
margin-bottom: 20px;
margin-top: 15px;
margin-right: -5px;
}

.social_login .descr {
float: left;
width: auto;
margin-right: 10px;
margin-top: 8px;
}

.no_register {
position: absolute;
right: 55px;
top: 55px;
font-size: 14px;
font-weight: 400;
}

.no_register a {
font-weight: 700;
color: #651fff;
border: 1px solid #651fff;
padding: 12px 22px;
transition: 0.2s ease-in-out;
border-radius: 4px;
margin-left: 20px;
}

.no_register a:hover {
color: #fff;
background-color: #3e0ef5;
box-shadow: 0 2px 25px rgba(62, 14, 245, 0.4);
}


.modal_info {
display: inline-block;
position: relative;
}

.drop_info_up.top9 {
top: 9vh;
}

.drop_info_up {
position: fixed;
z-index: 99999;
left: 50%;
display: none;
transition: 0.2s ease-in-out;
top: 5vh;
background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
width: 420px;
padding: 25px 25px;
font-weight: 400;
font-size: 14px;
color: #000;
margin-left: -210px;
}
.center{
    text-align: center;
}
.modal_open {
display: inline-block !important;
}

.drop_info_up .drop_info_close {
position: absolute;
right: 15px;
top: 15px;
background: url(img/close.svg);
background-size: 100%;
width: 17px;
height: 17px;
cursor: pointer;
}

.drop_info_up .data_drop_col {
margin-bottom: 0px;
margin-top: 15px;
text-align: center;
}

.modal_overlay {
z-index: 9999;
position: fixed;
background-color: rgba(0, 0, 0, 0.3);
width: 100%;
height: 100%;
top: 0px;
left: 0px;
cursor: pointer;
display: none;
}

.data_drop_col .title {
font-family: 'Barlow', sans-serif;
font-size: 24px;
margin-bottom: 20px;
color: #000;
letter-spacing: 0.03em;
font-weight: 700;
}

.data_drop_col .content_user{
padding: 0px;
box-shadow: none;
border-radius: 0px;
}

.data_drop_col .tarification_checkout .info span{
margin-right: 0px;
font-size: 16px;
width: 50%;
}
.tarification_checkout .info.hidden{
    display: none;}
.sc_col {
float: right;
width: 360px;
}

.sc_col .title {
margin-bottom: 20px;
position: relative;
width: 100%;
text-transform: uppercase;
font-family: 'Barlow Condensed', sans-serif;
font-size: 36px;
letter-spacing: 0.04em;
line-height: 1.2;
padding-left: 0px;
font-weight: 800;
float: left;
color: #fff;
}

.sc_col .descr {
color: #fff;
font-weight: 300;
font-size: 12px;
margin-bottom: 15px;
width: 100%;
float: left;
}

.circle_box {
display: inline-block;
width: 34px;
height: 34px;
margin: 0px 6px;
border-radius: 50px;
color: #000;
background-color: #fff;
box-shadow: 0 2px 15px rgba(3, 3, 3, 0.2);
font-size: 14px;
line-height: 2.5;
text-align: center;
transition: 0.2s ease-in-out;
}

.circle_box:hover {
background: #ff194e;
box-shadow: 0 2px 25px rgba(247, 10, 58, 0.4);
color: #fff;
}

.accept_link {
display: inline-block;
margin-bottom: 10px;
width: 100%;
text-align: left;
position: relative;
color: #01c500;
padding-left: 35px;
}

.accept_link .icon {
position: absolute;
left: 0;
top: 10px;
font-size: 20px;
}

.accept_link a {
float: left;
width: 100%;
text-decoration: underline;
color: #01c500;
}

.accept_link b {
font-size: 10px;
margin-top: 5px;
text-transform: uppercase;
letter-spacing: 0.01em;
float: left;
font-weight: 700;
}

.accept_link.error_nick {
color: red;
}

.accept_link.error_nick a {
color: red;
}

.mrt95 {
margin-top: 95px;
}

.speedbar {
float: left;
width: 100%;
position: relative;
background: #fff;
font-weight: 700;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
color: #fff;
padding: 25px 0px;
}

.speedbar_inner {
float: left;
width: 100%;
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
color: #000;
}

.speedbar_inner i {
margin: 0px 5px;
}

.speedbar_inner a {
color: #000;
}

.pdt100 {
padding-top: 100px;
}

.txt_contacts {
float: left;
width: 500px;
padding-right: 45px;
}

.txt_contacts .descr {
font-size: 16px;
color: #000;
width: 100%;
display: inline-block;
font-weight: 400;
margin-bottom: 30px;
}

.company_box_lk .title_a {
display: inline-block;
width: 100%;
font-family: 'Barlow', sans-serif;
font-size: 30px;
margin-bottom: 20px;
line-height: 1.2;
font-weight: 700;
}

.mrb60 {
margin-bottom: 60px;
}

.txt_contacts .title {
float: left;
width: 100%;
font-size: 46px;
font-weight: 700;
line-height: 1;
color: #1d0642;
font-family: 'Barlow', sans-serif;
margin-bottom: 20px;
position: relative;
}

.contacts_post {
overflow: hidden;
padding-bottom: 20px;
padding-left: 15px;
}

.contacts_post .c_input {
display: block;
width: 100%;
padding: 10px 10px;
font-size: 16px;
cursor: pointer;
font-weight: 400;
line-height: 1.5;
color: #697BA2;
border: 1px solid #eee;
border-radius: 4px;
background-color: #fff;
background-clip: padding-box;
transition: 0.2s ease-in-out;
margin: 20px 0px;
}

.contacts_post .c_input:focus {
border: 1px solid #111;
background: #fff;
padding: 10px 15px;
}

.contacts_post .c_input::placeholder {
color: #697BA2;
}

.txt_contacts .title_cl {
width: 100%;
text-transform: uppercase;
letter-spacing: 0.02em;
display: inline-block;
margin-bottom: 15px;
font-size: 22px;
font-weight: 700;
}

.txt_contacts .phone_head {
width: 100%;
float: left;
line-height: 1.25;
position: relative;
color: #1d0642;
font-size: 24px;
font-weight: 700;
margin-right: 180px;
margin-left: 90px;
margin-bottom: 60px;
}

.txt_contacts .phone_head:last-child {
margin-bottom: 0px;
}

.phone_head .schedule {
margin: 0 0 0 5px;
position: absolute;
margin-top: 0;
text-align: left;
letter-spacing: 0.02em;
font-size: 14px;
line-height: 1.1em;
font-weight: 300;
color: #9a9a9a;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.circles_cols {
position: absolute;
left: -90px;
top: 0;
width: 60px;
height: 60px;
background: #fff;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.05);
text-align: center;
border-radius: 84px;
margin-bottom: 20px;
}

.circles_cols i {
position: relative !important;
left: auto !important;
top: auto !important;
color: #000;
margin-top: 18px;
font-size: 24px;
}

.table_col_p {
width: 100%;
max-width: 1000px;
margin: 0 auto;
height: 1000px;
position: relative;
}

.table_col_p ul {
display: inline-block;
top: 0px;
width: 100%;
float: left;
z-index: 10;
padding-bottom: 14px;
}

.table_col_p li {
list-style: none;
float: left;
width: 33.33%;
flex: 1;
}

.table_col_p tr:nth-child(2n) {
box-shadow: -6px -1px 15px 0 rgba(0,0,0,0.05);
border-radius: 6px;
}

.table_col_p button {
width: 100%;
border: 1px solid #fff;
border-right: 0;
border-top: 0;
padding: 10px;
background: #f1f1f1;
transition: 0.2s ease-in-out;
cursor: pointer;
font-size: 14px;
font-weight: bold;
height: 50px;
text-transform: uppercase;
color: #999;
}

.txt_lt {
text-decoration: line-through;
color: #9affda;
font-size: 18px !important;
}

.ye_s {
color: #fff;
font-size: 24px !important;
}

.table_col_p li.active_a button {
background: #F5F5F5;
background-color: #ff194e;
color: #fff;
}

.intro {
background: #ffffff;
border-radius: 4px;
box-shadow: 0 2px 15px rgba(247, 10, 58, 0.2);
padding: 10px 15px;
font-size: 10px;
font-weight: 700;
text-shadow: none;
margin-top: 10px;
text-transform: uppercase;
color: #09b375;
}

.table_col_p table {
border-collapse: collapse;
table-layout: fixed;
width: 100%;
position: relative;
}

.table_col_p th {
display: none;
font-size: 14px;
letter-spacing: 0.02em;
}

.table_col_p td, th {
height: 53px;
}

.table_col_p td .btn {
padding: 16px 20px;
width: 100%;
background-color: #ff194e;
box-shadow: 0 2px 10px rgba(247, 10, 58, 0.3);
}

.table_col_p td .btn_a {
padding: 16px 20px;
width: 100%;
}

.table_col_p td,th {
border: 1px solid transparent;
padding: 15px 15px;
empty-cells: show;
}

.table_col_p td,th {
text-align: left;
}

.table_col_p td+td, th+th {
text-align: center;
display: none;
}

.table_col_p td.default {
display: table-cell;
}

.bg_table {
background: #fff;
padding: 0px 10px;
}

.table_col_p .bg-free {
padding: 15px;
background: #ecf2f7;
color: #1b053e;
margin: 0px 5px;
text-transform: uppercase;
border-radius: 6px;
}

.brt4 {
border-top-right-radius: 6px;
border-top-left-radius: 6px;
}

.brb4 {
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}

.bg_sp .img_tick {
color: #fff;
text-shadow: 1px 1px 2px #bbb;
}

.btn_s {
display: inline-block;
font-size: 14px;
border-radius: 4px;
background-color: #ecf2f7;
padding: 16px 20px;
width: 100%;
color: #1b053e;
line-height: 16px;
transition: 0.2s ease-in-out;
font-weight: 700;
text-align: center;
letter-spacing: 0.02em;
cursor: pointer;
text-transform: uppercase;
}

.btn_s:hover {
border-radius: 84px;
}

.bg_sp {
background: #33f1ac;
border-bottom: 1px solid #25e29e !important;
border-right: 1px solid #fff !important;
color: #fff;
text-shadow: 1px 1px 2px #bbb;
box-shadow: 0 2px 15px rgba(51, 241, 172, 0.2);
}

.bg_sp .btn_a {
background: #fff;
text-shadow: none;
color: #19bf83;
font-weight: 700;
box-shadow: 0 2px 15px rgba(15, 136, 92, 0.4);
}

.bg_sp_nobr {
border-bottom: none !important;
}

.bg_hide {
background: #fff;
border-bottom: 1px solid #eee !important;
border-right: 1px solid #eee !important;
}

.bg_hide.bg_sp_nobr {
border: none !important;
}

.brdr_n {
border-right: none !important;
}

.bg_hide .btn_a {
background: #fff;
text-shadow: none;
color: #19bf83;
font-weight: 700;
box-shadow: 0 2px 15px rgba(15, 136, 92, 0.4);
}

.table_col_p .bg-blue {
background: #33f1ac;
color: #fff;
text-transform: uppercase;
font-size: 28px;
}

.table_col_p .bg-promo {
text-transform: uppercase;
font-size: 16px;
padding: 15px;
border-radius: 6px;
background-color: #ff194e;
margin: 0px 5px;
box-shadow: 0 2px 10px rgba(247, 10, 58, 0.3);
color: #fff;
border-radius: 6px;
}

.table_col_p .sep {
font-weight: bold;
}

.img_tick {
display: inline-block;
font-size: 18px;
color: #33f1ac;
}

.table_col_p .txt-l {
font-size: 24px;
font-weight: bold;
}

.table_col_p .txt-top {
position: relative;
font-size: 28px;
top: 0px;
font-weight: 700;
left: -5px;
}

.table_col_p .tick {
font-size: 18px;
color: #2CA01C;
}

.table_col_p .hide {
border: 0;
background: none;
}

@media (min-width: 940px) {
.table_col_p  ul {
display: none;
}

.table_col_p  td,th {
display: table-cell !important;
}

.table_col_p  td,th {
width: 330px;
}

.table_col_p  td+td, th+th {
width: auto;
}
}

.cont_news .counts_xx_block {
float: none;
display: inline-block;
}

.cont_news .couts_go_box .count {
font-size: 52px;
}

.cont_news .couts_go_box .count:before {
font-size: 30px;
}

.cont_news {
float: left;
width: 100%;
line-height: 1.5;
font-size: 16px;
color: #000;
}

.cont_news img {
width: 100%;
margin-top: 25px;
max-width: 100%;
border-radius: 6px;
}

.cont_news h2, .cont_news h3, .cont_news h4, .cont_news h5 {
float: left;
width: 100%;
font-weight: 700;
line-height: 1;
color: #1d0642;
font-family: 'Barlow', sans-serif;
margin-bottom: 15px;
position: relative;
}

.cont_news h2 {
font-size: 28px;
}

.cont_news h3 {
font-size: 24px;
}

.cont_news h4 {
font-size: 20px;
}

.cont_news h5 {
font-size: 18px;
}

.cont_news a {
color: #307dcd;
cursor: pointer;
transition: 0.2s;
}

.cont_news a:hover {
border-bottom: 1px solid #307dcd;
transition: 0.2s;
}

.cont_news blockquote {
border-top: 2px solid #ddd;
color: #307dcd;
font-size: 24px;
padding: 40px 40px;
border-bottom: 2px solid #ddd;
text-align: center;
}

.cont_news b {
font-weight: 700;
}

.cont_news ol {
list-style: none;
counter-reset: listCounter;
}

.cont_news ol li {
width: 100%;
padding-left: 30px;
padding-bottom: 20px;
position: relative;
counter-increment: listCounter;
}

.cont_news ol li::before {
content: counter(listCounter,decimal-leading-zero);
font-size: 16px;
color: #307dcd;
font-weight: 400;
opacity: 0.7;
left: 0;
top: 0px;
position: absolute;
}

.cont_news ul {
list-style: none;
}

.cont_news ul li {
display: inline-block;
width: 100%;
color: #111;
overflow: hidden;
padding: 5px 15px 5px 30px;
background: url(img/check.png) no-repeat left 10px;
}

.user_page_col {
float: left;
width: 100%;
}

.sidebar_user {
float: left;
width: 320px;
position: relative;
overflow: hidden;
border-radius: 6px;
background: #1b053e;
margin-right: 60px;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
}

.profile_block {
float: left;
width: 100%;
overflow: hidden;
padding: 35px 35px 20px 35px;
position: relative;
z-index: 3;
}

.profile_block .content {
float: left;
width: 100%;
border-radius: 6px;
padding: 10px 15px;
background: rgba(255,255,255,0.1);
}

.profile_block .content .txt {
float: left;
width: 100%;
font-size: 14px;
font-weight: 300;
color: #fff;
}

.profile_block .content .title_u {
float: left;
width: 100%;
color: #fff;
line-height: 1.1;
margin-top: 2px;
font-size: 22px;
font-weight: 400;
}

.profile_block .content .title_u a {
color: #fff;
}

.profile_block .content .icons {
float: left;
width: 100%;
}

.profile_block .content .icons a {
font-size: 12px;
font-weight: 300;
color: #fff;
transition: 0.3s;
}

.menu {
float: left;
position: relative;
z-index: 3;
width: 100%;
padding: 0px 35px 35px 35px;
}

.menu ul {
float: left;
width: 100%;
list-style: none;
}

.menu ul .active:hover {
background-color: #ff194e;
box-shadow: 0 2px 25px rgba(247, 10, 58, 0.8);
}

.menu ul .active {
background-color: #ff194e;
box-shadow: 0 2px 25px rgba(247, 10, 58, 0.8);
margin: 5px 0px;
}

.menu ul .active a {
color: #fff;
}

.menu ul li {
float: left;
width: 100%;
font-size: 12px;
text-transform: uppercase;
transition: 0.3s;
border-radius: 6px;
font-weight: 700;
}

.menu ul li a {
float: left;
width: 100%;
position: relative;
padding: 15px;
color: #fff;
transition: 0.2s ease-in-out;
}

.menu ul li a:before {
position: absolute;
right: 25px;
top: 15px;
display: block;
content: "\f105";
font-family: "Font Awesome 5 Pro";
font-weight: 400;
}

.menu ul li a i {
float: left;
margin-right: 10px;
}

.menu ul li:hover {
background: rgba(255,255,255,0.1);
transition: 0.3s;
}

.menu ul li:hover a {
color: #fff;
padding: 15px 25px;
}

.content_user .center{
text-align: center;
display: inline-block;
width: 100%;
}

.content_user {
overflow: hidden;
padding: 35px;
border-radius: 6px;
box-shadow: 0px 5px 20px rgba(0,0,0,0.11);
}

.login_register_block {
float: left;
width: 50%;
background: #fff;
overflow: hidden;
border-radius: 6px;
}

.hg_auto {
height: auto !important;
}

.left_image {
float: left;
width: 100%;
}

.you_image {
float: left;
text-align: center;
width: 100%;
margin-bottom: 10px;
}

.edit_img {
display: inline-block;
padding: 16px 34px;
border-radius: 6px;
width: 190px;
cursor: pointer;
background-color: #ff194e;
box-shadow: 0 2px 15px rgba(247, 10, 58, 0.4);
margin-top: 15px;
border: 1px solid transparent;
color: #fff;
z-index: 2;
margin-top: 30px;
text-transform: uppercase;
font-size: 12px;
transition: 0.2s ease-in-out;
position: relative;
overflow: hidden;
font-weight: 700;
}

.edit_img i {
margin-right: 5px;
}

.you_image .img {
float: left !important;
width: 100%;
}

.you_image .img img {
border-radius: 6px;
}

.edit_img:hover:after {
left: 120%;
transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.edit_img:after {
background: #fff;
content: "";
display: block;
height: 155px;
left: -75px;
opacity: .2;
position: absolute;
top: -50px;
-webkit-transform: rotate(35deg);
-ms-transform: rotate(35deg);
transform: rotate(35deg);
transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
width: 50px;
z-index: 10;
}

.drop_image_f {
float: left;
width: 100%;
position: relative;
height: 280px;
visibility: visible;
margin: 25px 0px 35px 0px;
}

.drop_image_c:before {
cursor: no-drop;
left: 0;
top: 0;
right: 0;
bottom: 0;
background: #fff;
opacity: 0.6;
position: absolute;
content: '';
z-index: 2;
}

.drop_image_f.active:before {
display: none;
}

.drop_image_f .drop .cont {
padding-top: 40px;
}


.wd50_inp{
float: left;
width: 50%;
padding: 0px 15px;
}

.btn_submit.bg_cs {
background: #25e29e;
box-shadow: 0 2px 15px rgba(51, 241, 172, 0.4);
display: inline-block;
padding: 18px 36px;
font-size: 12px;
float: none;
color: #fff;
font-weight: 700;
margin-bottom: 0px;
border: 1px solid #25e29e;
}


.btn_submit.bg_cs_del {
    background-color: #ff194e;
    box-shadow: 0 2px 15px rgba(247, 10, 58, 0.4);
display: inline-block;
margin-left: 10px;
padding: 18px 36px;
font-size: 12px;
float: none;
color: #fff;
font-weight: 700;
margin-bottom: 0px;
border: 1px solid #ff194e;
}


.btn_submit.bg_cs_apply {
    background-color: #ff194e;
    box-shadow: 0 2px 15px rgba(247, 10, 58, 0.4);
display: inline-block;
margin-left: 10px;
padding: 18px 36px;
font-size: 12px;
float: left;
color: #fff;
font-weight: 700;
margin-bottom: 0px;
border: 1px solid #ff194e;
}

.total_pay{
display: inline-block;
width: 100%;
margin-top: 0px;
margin-bottom: 10px;
font-size: 30px;
font-weight: 700;
}


.tarification_checkout{
float: left;
width: 320px;
margin-bottom: 20px;
}

.tarification_checkout .info{
float: left;
width: 100%;
font-size: 18px;
margin-bottom: 15px;
}

.tarification_checkout .info .btn_f{
    background: #ecf2f7;
    color: #1b053e;
    display: inline-block;
    padding: 10px 16px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-top: -5px;
    width: 83px;
    border-radius: 4px;
    float: left;
    font-weight: 700;
    margin-bottom: 0px;
    border: 1px solid #ecf2f7;
}
.tarification_checkout .info .btn_ps{
background: #33f1ac;
    display: inline-block;
    padding: 10px 16px;
    font-size: 10px;
    text-transform: uppercase;
    width: 83px;
    letter-spacing: 0.02em;
    margin-top: -5px;
    border-radius: 4px;
    float: left;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0px;
    border: 1px solid #33f1ac;
}
.tarification_checkout .info .btn_p{
    background-color: #ff194e;
    box-shadow: 0 2px 15px rgba(247, 10, 58, 0.4);
    display: inline-block;
    padding: 10px 16px;
    font-size: 10px;
    text-transform: uppercase;
    width: 83px;
    letter-spacing: 0.02em;
    margin-top: -5px;
    border-radius: 4px;
    float: left;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0px;
    border: 1px solid #ff194e;
}

.tarification_checkout .info span{
float: left;
margin-right: 15px;
width: 110px;
text-align: left;
font-family: 'Barlow', sans-serif;
font-weight: 400;
}

.tarification_checkout .info .summ{
float: left;
font-weight: 700;
}



.wrapper_drop {
float: left;
position: relative;
width: 100%;
height: 100%;
}

.drop {
width: 100%;
height: 100%;
border: 1px solid #eee;
border-radius: 8px;
overflow: hidden;
text-align: center;
background: #f7f7f7;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

.drop .cont {
width: 100%;
color: #000;
padding-top: 220px;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

.drop .cont i {
font-size: 80px;
color: #c2c6ca;
position: relative;
}

.drop .cont .tit {
margin-top: 10px;
font-size: 20px;
text-transform: uppercase;
font-weight: 700;
color: #1b053e;
}

.drop .cont .desc {
color: #1b053e;
font-size: 14px;
font-weight: 400;
margin: 0px 0px 15px 0px;
}

.drop .cont .browse {
margin: 5px 5% 10px 5%;
display: inline-block;
padding: 18px 16px;
width: 190px;
border-radius: 4px;
text-transform: uppercase;
color: #fff;
font-weight: 700;
font-size: 12px;
background: #3e0ef5;
box-shadow: 0 2px 15px rgba(62, 14, 245, 0.4);
}

.drop input {
width: 100%;
height: 100%;
cursor: pointer;
background: red;
opacity: 0;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

#list {
width: 100%;
text-align: left;
position: absolute;
left: 0;
top: 0;
}

#list .thumb {
height: 75px;
border: 1px solid #323a44;
margin: 10px 5px 0 0;
}

.check_air {
float: left;
width: 100%;
margin-bottom: 30px;
text-align: center;
}

.radio-image {
display: inline-block;
width: 70px;
height: 70px;
background-color: white;
border-radius: 5px;
-webkit-transition-duration: .2s;
-moz-transition-duration: .2s;
-o-transition-duration: .2s;
transition-duration: .2s;
border: 2px solid #eee;
padding: 5px;
cursor: pointer;
}

.radio-hidden:checked ~ .radio-image {
border: 2px solid #ffd800;
transform: scale(1.1);
}

.radio-hidden {
position: absolute;
visibility: hidden;
}

.radio-container {
margin: 10px;
}

.radio-image:hover {
transform: scale(1.03);
}

.sp_soc_bx {
float: left;
width: 50%;
padding: 0px 15px;
}

.company_box_lk {
float: left;
width: 50%;
height: 100%;
background: #fff;
text-align: center;
}

.tarification {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tarification .at {
    float: left;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #ff194e;
    box-shadow: 0 2px 15px rgba(247, 10, 58, 0.4);
    color: #fff;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    transition: 0.2s ease-in-out;
    letter-spacing: 0.02em;
    cursor: pointer;
    text-transform: uppercase;
}

.tarification .ed {
    float: left;
    padding: 12px 10px;
    color: #000;
    background: #f1f1f1;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.2s ease-in-out;
    font-weight: 700;
}

.tarification .ed i {
margin-left: 5px;
}

.tarification .ed:hover {
border-radius: 44px;
background: #ccc;
}

.company_box_lk.wd100 {
width: 100%;
}

.company_box_lk .pay_txt {
float: left;
width: 100%;
float: left;
width: 100%;
margin-bottom: 5px;
padding-bottom: 5px;
font-size: 16px;
position: relative;
text-transform: uppercase;
}

.company_box_lk .pay_txt:before {
left: 0;
right: 0;
bottom: 15px;
height: 1px;
position: absolute;
content: '';
width: 100%;
border-bottom: 2px dotted #d2d2d2;
}

.company_box_lk .pay_txt b {
float: left;
font-size: 12px;
margin-top: 5px;
background: #fff;
position: relative;
padding: 5px 10px 5px 0px;
}

.company_box_lk .pay_txt span {
float: right;
font-weight: 700;
color: #1ad893;
position: relative;
background: #fff;
padding: 5px 0px 5px 10px;
}

.company_box_lk.pd_35 {
padding-left: 35px;
padding-right: 35px;
text-align: left;
}

.company_box_lk .title {
float: left;
width: 100%;
font-size: 36px;
font-weight: 700;
line-height: 1;
color: #1d0642;
font-family: 'Barlow', sans-serif;
margin-bottom: 25px;
position: relative;
}

.company_box_lk .info_pay {
width: 100%;
float: left;
font-size: 12px;
text-transform: uppercase;
font-weight: 700;
margin-top: 25px;
color: #fff;
letter-spacing: 0.02em;
text-shadow: 1px 1px 2px #bbb;
box-shadow: 0 2px 15px rgba(51, 241, 172, 0.2);
background: #33f1ac;
text-align: center;
border-radius: 4px;
margin-bottom: 30px;
padding: 10px 10px 15px 10px;
}

.company_box_lk .info_pay a {
font-family: 'Barlow', sans-serif;
color: #fff;
font-weight: 700;
font-size: 18px;
margin-left: 5px;
}

.company_box_lk .descr {
display: inline-block;
width: 100%;
margin-bottom: 15px;
font-size: 16px;
font-weight: 300;
}

.social_user {
float: left;
width: 100%;
margin-bottom: 30px;
}

.add_soc_user:hover {
background: #bbb;
}

.add_soc_user {
width: 100%;
float: left;
position: relative;
margin-top: 10px;
padding: 14px 24px;
transition: 0.2s ease-in-out;
border-radius: 4px;
background: #f9f9f9;
}

.add_soc_user:before {
left: 20px;
top: 12px;
font-size: 20px;
font-family: "Font Awesome 5 Pro";
font-weight: 300;
position: absolute;
color: #ccc;
content: '\f057';
}

.add_soc_user span {
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
margin-left: 10px;
}

.complete_link {
float: right;
padding: 14px 24px;
position: relative;
font-size: 12px;
border-radius: 4px;
background-color: #ff194e;
box-shadow: 0 2px 15px rgba(247, 10, 58, 0.4);
color: #fff;
line-height: 16px;
font-weight: 700;
text-align: center;
transition: 0.2s ease-in-out;
margin-left: 30px;
letter-spacing: 0.02em;
cursor: pointer;
text-transform: uppercase;
}

.complete_link span {
font-weight: 700;
}

.complete_link:hover {
background-color: #ff194e;
box-shadow: 0 2px 15px rgba(247, 10, 58, 0.4);
}

.complete_link:before {
left: 20px;
top: 22px;
font-size: 20px;
font-family: "Font Awesome 5 Pro";
font-weight: 400;
position: absolute;
color: #fff;
content: '\f00c';
}

.complete_link .circle_box_sm {
color: #fff;
}

.circle_box_sm {
display: inline-block;
width: 30px;
height: 30px;
margin: 0px 4px;
color: #000;
font-size: 14px;
line-height: 2.3;
text-align: center;
transition: 0.2s ease-in-out;
}

.tab_over_s {
float: left;
width: 100%;
padding: 15px 0px;
}

.tab_over_s .tabs li {
float: left;
width: 25%;
padding: 0px 10px 10px 10px;
margin: 0px;
}

.tab_over_s .tabs li a {
float: left;
width: 100%;
text-align: center;
}

.no_disp_offer {
display: none;
}

.tab_over_s .tabs li {
display: none;
}

.tab_over_s .center {
width: 100%;
text-align: center;
display: inline-block;
}

.tab_over_s .btn_more {
margin-top: 30px;
}

.comp_ave_col {
float: left;
width: 50%;
padding: 0px 15px;
margin-bottom: 20px;
text-align: left;
}

.comp_ave_box {
float: left;
width: 100%;
transition: 0.2s ease-in-out;
border-radius: 4px;
position: relative;
margin-bottom: 25px;
}

.comp_ave_box:hover {
box-shadow: 0 25px 40px rgba(0, 0, 0, 0.15);
}

.comp_ave_box:hover .content {
padding-left: 15px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}

.comp_ave_box.premium_box {
}

.comp_ave_box.news_box {
background: #fff;
}

.premium_ticker {
position: absolute;
left: 20px;
bottom: 20px;
font-size: 12px;
text-align: center;
background: #25e29e;
box-shadow: 0 2px 15px rgba(51, 241, 172, 0.4);
font-weight: 700;
text-transform: uppercase;
color: #fff;
letter-spacing: 0.02em;
z-index: 3;
padding: 12px 25px 12px 25px;
border-radius: 4px;
}

.comp_ave_box .content .title:hover {
text-decoration: underline;
}

.comp_ave_box .img {
float: left;
background: #ddd center no-repeat;
background-size: cover;
height: 225px;
width: 100%;
border-radius: 4px;
position: relative;
z-index: 1;
}

.comp_ave_box .del{
position: absolute;
right: 20px;
top: 20px;
    border-radius: 4px;
background: #1b053e;
    box-shadow: 0 2px 15px rgba(27, 5, 62, 0.3);
    color: #fff;
    line-height: 16px;
    transition: 0.2s ease-in-out;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.02em;
    cursor: pointer;
    text-transform: uppercase;
        font-size: 10px;
    padding: 12px 20px;
    font-weight: 700;
}
.comp_ave_box .del i {
    margin-left: 10px;
}
.comp_ave_box .time i {
margin-right: 8px;
font-size: 14px;
margin-top: 2px;
float: left;
}

.comp_ave_box .content {
float: left;
width: 100%;
transition: 0.2s ease-in-out;
padding: 15px 15px 15px 0px;
}

.comp_ave_box.news_box .content .title {
margin-top: 10px;
}

.comp_ave_box .content .title {
font-size: 18px;
font-weight: 700;
margin-bottom: 15px;
height: 28px;
width: 100%;
float: left;
line-height: 1.6;
overflow: hidden;
}

.comp_ave_box .content .descr {
width: 100%;
float: left;
height: 73px;
font-size: 14px;
font-weight: 300;
margin-bottom: 15px;
overflow: hidden;
}

.comp_ave_box .content .date {
font-size: 14px;
font-weight: 500;
color: #777;
float: left;
}

.comp_ave_box .content .date i {
margin-right: 5px;
}

.comp_ave_col .btn {
font-size: 10px;
margin-top: 20px;
padding: 12px 20px;
float: left;
font-weight: 700;
}

.comp_ave_col .btn_a {
font-size: 10px;
margin-top: 20px;
padding: 12px 20px;
float: right;
font-weight: 700;
}

.comp_ave_box .content .contact.overhg {
overflow: hidden;
}

.comp_ave_box .content .contact {
font-size: 18px;
font-weight: 400;
margin-bottom: 10px;
width: 100%;
overflow: hidden;
float: left;
}

.comp_ave_box .content .contact i {
font-size: 16px;
float: left;
color: #ff194e;
margin-right: 15px;
margin-top: 3px;
}

.comp_ave_box .content .contact .info {
float: left;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 0.02em;
font-weight: 700;
height: 32px;
overflow: hidden;
}

.comp_ave_box .content .contact .tel {
font-weight: 700;
font-size: 14px;
text-transform: uppercase;
}

.mb0 {
margin-bottom: 0px !important;
}

.comp_ave_box .content .category {
float: left;
width: 100%;
margin-bottom: 15px;
margin-top: -5px;
height: 25px;
overflow: hidden;
}

.comp_ave_box .content .category a {
margin-right: 10px;
margin-bottom: 10px;
border-bottom: 1px solid #eee;
color: #21064a;
padding-bottom: 2px;
float: left;
font-weight: 400;
font-size: 14px;
transition: 0.2s ease-in-out;
}

.comp_ave_box .content .category a:hover {
border-bottom: 1px solid #000;
color: #000;
}

.txt_l {
text-align: left;
}

.table_div_stat {
float: left;
width: 100%;
text-align: center;
}

.table_div_stat .sts {
font-weight: 400;
margin-top: 3px;
display: inline-block;
}

.table_div_stat .item_t {
float: left;
width: 32%;
padding: 15px;
font-size: 12px;
height: 60px;
font-weight: 700;
text-transform: uppercase;
border-left: 1px solid #eee;
letter-spacing: 0.02em;
border-right: 1px solid #eee;
border-bottom: 1px solid #eee;
}

.table_div_stat .item_t a {
text-decoration: underline;
display: inline-block;
margin-top: 8px;
}

.table_div_stat .item_t a:hover {
color: #ff194e;
}

.table_div_stat .item_xt {
float: left;
width: 22.66%;
padding: 15px;
height: 60px;
font-size: 12px;
border-right: 1px solid #eee;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.02em;
border-bottom: 1px solid #eee;
}

.table_div_stat .bg_h {
background: #1c0540;
border-left: 1px solid #1c0540;
border-right: 1px solid #1c0540;
color: #fff;
border-bottom: none;
}

.stat_tab {
margin: 0px !important;
padding: 0px 15px;
width: 25%;
float: left;
}

.stat_tab span {
width: 100%;
}

.table_div_stat .atc {
background: #25e29e;
box-shadow: 0 2px 15px rgba(51, 241, 172, 0.4);
display: inline-block;
border-radius: 4px;
padding: 8px 12px;
font-size: 10px;
width: 72px;
color: #fff;
text-shadow: 1px 1px 2px #bbb;
font-weight: 700;
}

.table_div_stat .atc_o {
background: #f1f1f1;
display: inline-block;
border-radius: 4px;
padding: 8px 12px;
font-size: 10px;
width: 72px;
color: #000;
font-weight: 700;
}

.table_div_stat .subs {
background: #ecf2f7;
color: #1b053e;
display: inline-block;
border-radius: 4px;
padding: 8px 12px;
font-size: 10px;
width: 72px;
font-weight: 700;
}

.table_div_stat .subs_p {
background-color: #ff194e;
box-shadow: 0 2px 5px rgba(247, 10, 58, 0.3);
color: #fff;
display: inline-block;
width: 72px;
border-radius: 4px;
padding: 8px 12px;
font-size: 10px;
font-weight: 700;
}

.no_pad_s {
padding: 0px;
box-shadow: none;
}

.tab.tab_spolier_stat {
margin-top: 0px;
float: none;
display: inline-block;
}

.spoiler-content.no_pad_spoiler {
padding: 0px;
box-shadow: none;
}

.mrt100 {
margin-top: 100px;
}

.center_block {
width: 100%;
text-align: center;
}

.container_add_reviews {
display: inline-block;
text-align: left;
max-width: 820px;
}

.menu-icon {
height: 20px;
width: 20px;
float: left;
margin-top: 2px;
margin-right: 5px;
cursor: pointer;
}

.btn_menu:hover .menu-icon__line-left {
width: 20px;
transition: 0.2s;
}

.btn_menu:hover .menu-icon__line-right {
width: 20px;
transition: 0.2s;
}

.menu-icon__line {
height: 1px;
width: 20px;
display: block;
background-color: #fff;
margin-bottom: 4px;
}

.menu-icon__line-left {
width: 20px;
transition: 0.2s;
}

.menu-icon__line-right {
width: 20px;
float: left;
transition: 0.2s;
}

.btn_menu {
position: absolute;
right: 0px;
top: 41px;
height: 25px;
transition: 0.2s;
color: #fff;
font-weight: 700;
letter-spacing: 0.08em;
cursor: pointer;
opacity: 1;
display: none;
text-transform: uppercase;
}

.btn_menu:hover {
transition: 0.2s;
}

.sidebar-overlay {
visibility: hidden;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0;
background: #000;
z-index: 1000;
-webkit-transition: visibility 0 linear 0.3s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
-moz-transition: visibility 0 linear 0.3s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
transition: visibility 0 linear 0.3s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
transition: 0.3s;
}

.sidebar-overlay.active {
opacity: 0.7;
visibility: visible;
-webkit-transition-delay: 0;
-moz-transition-delay: 0;
transition-delay: 0;
transition: 0.3s;
}

.sidebar {
width: 100%;
z-index: 1000;
height: 100%;
bottom: 0;
position: fixed;
background: #1b053e;
visibility: hidden;
left: 0;
padding: 0px 40px 30px 20px;
transition: 0.2s ease-in-out;
opacity: 0;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.sidebar.active {
opacity: 1;
visibility: visible;
}

.sidebar .active-drop {
display: block;
}

.sidebar .close {
position: absolute;
cursor: pointer;
z-index: 2;
right: 15px;
top: 15px;
width: 20px;
height: 20px;
line-height: 2.2;
text-align: center;
}

.showsidebar {
left: 0px !important;
z-index: 9999;
}

.sidebar-content ul {
list-style: none;
width: 100%;
display: inline-block;
margin: 120px 0px 5px 0px;
padding: 0;
}

.sidebar-content ul li {
float: left;
font-size: 18px;
letter-spacing: 0.02em;
font-weight: 700;
width: 100%;
margin-bottom: 15px;
text-transform: uppercase;
padding-left: 0px;
position: relative;
}

.sidebar-content ul li a {
color: #fff;
transition: 0.2s;
padding-bottom: 5px;
margin-bottom: 5px;
}

@media (max-width: 1350px) {
.white_col {
overflow: hidden;
}
}

@media (max-width: 1200px) {
.header_col .nav_col {
margin-right: 0px;
float: left;
margin-left: 10px;
}

.spoiler .spoiler-title {
padding-right: 10px;
}

.tabs a {
padding: 20px 10px;
}

.tarification .at {
font-size: 18px;
padding: 16px 26px;
width: 100%;
text-align: center;
}

.home_box.left_sign {
width: 50%;
}

.window_sign {
width: 100%;
}

.content_scroll_t {
float: left;
width: 100%;
overflow-x: scroll;
overflow-y: hidden;
}

.table_div_stat {
width: 910px;
}
.header_col .logo{width: 165px;}
.tarification .ed {
margin-left: 0px;
margin-top: 15px;
width: 100%;
text-align: center;
font-size: 12px;
}
}

@media (max-width: 1100px) {
.nmt {
display: none;
}

.reporting_col .content_b {
padding-left: 50px;
}

.reporting_col.rep_right .content_b {
padding-right: 50px;
}

.sidebar_user {
margin-right: 40px;
}

.site_col .couts_xx_col {
float: left;
width: 50%;
padding: 10px 15px;
}

.home_col.about_us .home_box .title {
font-size: 70px;
}

.circle_soc_a {
margin: 0px 3px;
}
}

@media (max-width: 1000px) {
.nav_col {
display: none;
}

.sidebar_user {
width: 100%;
margin-right: 0px;
margin-bottom: 40px;
}

.pdt100 {
padding-top: 60px !important;
}

.mrb60 {
margin-bottom: 30px;
}

.home_box.left_sign {
display: none;
}

.company_box_lk .title {
font-size: 28px;
}

.right_sign {
float: left;
width: 100%;
}

.mrt40 {
margin-top: 20px;
}

.company_box_lk.pd_35 {
padding-right: 5px;
}

.menu ul li {
width: 50%;
}

.content_user {
width: 100%;
padding: 25px;
float: left;
}

.profile_block .content {
text-align: center;
}

.home_col.about_us .home_box .title {
font-size: 60px;
}

.home_box .title {
font-size: 50px;
}

.home_col.about_us .img_about {
margin-top: 30vh;
}

.home_col.about_us .home_box {
width: 56%;
}

.btn {
font-size: 12px;
}

.home_col.about_us .img_about {
width: 38%;
}

.spoiler .spoiler-title {
font-size: 16px;
}

.white_col {
padding-top: 170px;
padding-bottom: 60px;
}

.gray_col {
padding-top: 170px;
padding-bottom: 60px;
}

.adsfl_work_box .descr {
font-size: 14px;
}

.reporting_col .content_a {
width: 320px;
}

.site_col .content {
float: left;
width: 100%;
padding-left: 0px;
margin-top: 30px;
}

.menu ul .active {
margin: 0px;
}

.title_col .title {
font-size: 30px;
}

.site_col .couts_xx_col {
width: 25%;
}

.reporting_col.rep_right {
margin-top: 70px;
}

.tab_over_s .tabs li {
width: 50%;
}

.site_col .img {
width: 100%;
}

.footer_box_copyright {
width: 100%;
}

.footer_box {
width: 33.33%;
}

.footer_box_copyright img {
width: 212px;
display: inline-block;
}

.footer_box_copyright {
text-align: center;
}

.footer_copyright {
display: inline-block;
float: none;
}

.footer_copyright br {
display: none;
}

.footer_box_copyright .btn {
margin-bottom: 25px;
}

.footer {
padding: 60px 0px;
}

.margin_col {
padding-bottom: 412px;
}

.btn_menu {
display: block;
}

.header_col .btn_add {
margin-left: 20px;
}

.nmt {
display: block;
margin-right: 45px;
}

.header {
position: fixed;
z-index: 20;
background: #1b053e;
border-bottom: none;
box-shadow: -5px 14px 30px -12px rgba(0,0,0,.15);
}

.txt_contacts {
width: 100%;
margin-bottom: 50px;
}

.txt_contacts:last-child {
margin-bottom: 0px;
}

.contacts_post {
float: left;
width: 100%;
padding-left: 0px;
overflow: inherit;
}

.table_col_p tr:nth-child(2n) {
box-shadow: none;
}

.bg_hide {
border: none !important;
}

.txt_contacts .descr {
display: none;
}

.gray_col {
overflow: hidden;
}

.txt_contacts .title {
font-size: 36px;
margin-bottom: 30px;
}
}

@media (max-width: 750px) {
.home_box .title {
font-size: 40px;
margin-bottom: 25px;
}

.home_box .descr {
margin-bottom: 25px;
}

.adsfl_work_col {
width: 100%;
}

.btn_submit {
font-size: 12px;
padding: 16px 26px;
}

.adsfl_work_box .img {
float: left;
}

.tab_spolier_stat .tabs li {
width: 50%;
margin-bottom: 10px !important;
}

.no_pad_s {
padding: 0px !important;
}

.adsfl_work_box .title {
color: #1d0642;
float: none;
margin-left: 100px;
text-align: left;
width: auto;
display: inherit;
margin-bottom: 5px;
font-weight: 700;
font-size: 20px;
font-family: 'Barlow', sans-serif;
}

.adsfl_work_box .descr {
color: #555;
width: auto;
display: inherit;
text-align: left;
margin-left: 100px;
font-weight: 400;
}

.reporting_col .content_a .title {
font-size: 22px;
}

.adsfl_work_box {
padding: 0px;
margin-top: 15px;
}

.reporting_col .content_b {
padding-left: 0px;
width: 100%;
float: left;
margin-top: 15px;
}

.reporting_col .content_a {
width: 100%;
margin-bottom: 15px;
}

.spoiler.is-active .spoiler-title {
padding: 15px;
}

.reporting_col.rep_right .content_b {
padding-right: 0px;
}

.spoiler .spoiler-title {
padding: 15px 15px 15px 0px;
}

.spoiler-content {
font-size: 14px;
}

.home_col.about_us .img_about {
display: none;
}

.tab {
margin-top: 0px;
}

.home_col.about_us .home_box {
width: 100%;
}

.home_col.about_us {
height: auto;
padding-bottom: 60px;
}
}

@media (max-width: 600px) {
.comp_ave_col {
width: 100%;
}

.header_col {
padding: 10px 0px;
}

.company_box_lk {
width: 100%;
}

.content_user {
padding: 15px;
}

.comp_ave_box {
margin-bottom: 15px;
}

.txt_contacts .phone_head {
font-size: 16px;
}

.home_col.about_us .home_box .title {
font-size: 30px;
}

.home_col.about_us .home_box {
margin-top: 20vh;
}

.mrt95 {
margin-top: 60px;
}

.header {
height: 60px;
}

.company_box_lk.pd_35 {
padding: 20px 0px 0px 0px;
}

.right_sign {
padding: 25px;
}

.social_login {
float: left;
width: 100%;
}

.window_sign .descr {
font-size: 14px;
}

.home_col.left_sign_col {
height: 100%;
padding-bottom: 0px;
}

.window_sign .title {
font-size: 26px;
margin-top: 15px;
}

.no_register {
position: relative;
right: auto;
top: auto;
float: left;
width: 100%;
margin-bottom: 15px;
text-align: center;
}

.no_register a {
display: inline-block;
margin-bottom: 0px;
}

.window_sign {
margin-top: 0px;
}

.cont_news .couts_go_box .count {
font-size: 36px;
}

.couts_xx_col {
width: 50%;
}

.title_col {
margin-bottom: 0px;
}

.txt_contacts .title {
font-size: 24px;
}

.cont_news {
font-size: 14px;
}

.site_col .couts_xx_col {
width: 50%;
}

.tab_over_s .tabs li {
width: 100%;
}

.tab_content {
padding: 20px;
}

.header_col .logo {
width: 105px;
}

.rmb {
float: none;
}

.cheker label span {
margin-left: 3px;
}

.nmt {
display: none;
}

.footer_box {
display: none;
}

.footer_box:nth-child(4) {
display: block;
width: 100%;
text-align: center;
}

.reporting_col .content_a .img {
margin-bottom: 20px;
}

.reporting_col .content_a .title {
margin-left: 90px;
}

.site_col .content .title {
font-size: 18px;
}

.site_col .content .descr {
font-size: 14px;
}

.reporting_col .img .title {
margin-bottom: 10px;
}

.reporting_col.rep_right .content_b {
padding-right: 0px;
}

.header_col .btn_add {
margin-left: 0px;
margin-right: 45px;
padding: 8px 14px;
font-size: 10px;
margin-top: 5px;
}

.reporting_col .content_a .descr {
margin-bottom: 20px;
}

.btn_menu {
top: 23px;
}

.reporting_col .content_a .descr {
font-size: 14px;
}

.title_col .title {
font-size: 24px;
}

.home_box .descr {
font-size: 14px;
}

.reporting_col .img {
width: 100%;
text-align: center;
}

.reporting_col .img img {
display: inline-block;
float: none;
}

.home_box .descr br {
display: none;
}

.rating.ius,.rating-stars.ius {
     margin-bottom: 20px;
 }

.title_col_a.mty100 {
margin-top: 60px;
margin-bottom: 10px;
}

.slick-dots {
bottom: -25px;
}

.mrtm40 {
margin-top: -40px;
}

.home_box .title {
font-size: 30px;
}

.home_col {
height: auto;
padding-bottom: 40px;
}

.home_box {
margin-top: 20vh;
}

.header_col .btn_add i {
vertical-align: text-top;
}

.cheker {
text-align: left;
}
.tarification_checkout .info{font-size: 16px;}
.wd50_inp{width: 50%;}
.btn_submit.bg_cs_apply{
float: left;
margin-bottom: 20px;
font-size: 10px;
padding: 12px 18px;
margin-top: 0px;
}
.total_pay{font-size: 24px;margin-bottom: 15px;}
.adsfl_work_col{
padding: 0px;
}

.social_login {
text-align: left;
}
}

@media (max-width: 460px) {
.menu ul li {
width: 100%;
}

.drop_info_up{
width: 300px;
padding: 15px 15px 25px 15px;
margin-left: -150px;
}
.drop_info_up .tarification_checkout{
width: 100%;
}
.drop_info_up .tarification_checkout{
margin-bottom: 0px;
}

.drop_info_up .total_pay{font-size: 20px;}


.mrt40 {
margin-top: 0px !important;
}

.tab_spolier_stat .tabs li {
width: 100%;
margin-bottom: 10px !important;
}

.table_col_p td .btn_a {
padding: 12px 24px;
font-size: 12px;
}

.table_col_p td, th {
padding: 10px;
}

.txt_lt {
font-size: 12px !important;
}

.ye_s {
font-size: 16px !important;
}

.table_col_p .txt-top {
font-size: 18px;
}

.table_col_p .txt-l {
font-size: 18px;
}

.table_col_p td, th {
font-size: 14px;
}

.table_col_p li {
width: 100%;
}

.input_group .input {
font-size: 14px;
}

.title_col_a .title {
font-size: 24px;
}

.menu {
padding: 0px 25px 25px 25px;
}

.slick_rew .item_reviews:before {
display: none;
}

.input_group .info {
text-align: left;
}

.profile_block .content .txt {
font-size: 10px;
}

.profile_block .content .title_u {
font-size: 16px;
}

.sp_soc_bx {
width: 100%;
padding: 0px;
}

.center_btn.mt20 {
margin-top: 0px;
}

.company_box_lk .title {
font-size: 22px;
text-align: center;
}

.company_box_lk .title_a {
font-size: 22px;
}

.center_btn .btn_submit {
font-size: 12px;
padding: 16px 26px;
}

.company_box_lk .title {
font-size: 24px;
}

.no_register span {
width: 100%;
display: inline-block;
margin-bottom: 10px;
}

.no_register a {
margin-left: 0px;
}

.window_sign .descr {
margin-bottom: 10px;
}

.window_sign {
text-align: center;
}

.window_sign .btn_submit {
width: 100%;
margin-bottom: 15px;
}
}