<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="filter-box">
                </div>
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Title</th>
                        <th>Domain</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="domains.length > 0" v-for="(domain, index) in domains">
                        <td>{{ domain.id}}</td>
                        <td>{{ domain.title}}</td>
                        <td>{{ domain.domain}}</td>
                        <td>
                        <span @click="Published(domain.id,index,domain.active)" class="ivu-switch" :class="{ 'ivu-switch-checked': domain.active === 1  }">
                            <span class="ivu-switch-inner">
                                <span v-if="domain.active == 1">On</span>
                                <span v-else>Off</span>
                            </span>
                        </span>
                        </td>
                        <td>
                            <div class="actions">
                                <button type="button" @click.prevent="showEdit(index)" class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" @click.prevent="Delete(domain.id,index)" class="btn btn-danger" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Add</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="createDomain()">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" v-model="edit.title" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Domain</label>
                                    <input type="text" v-model="edit.domain" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="updateDomain()">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" v-model="edit.title" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Domain</label>
                                    <input type="text" v-model="edit.domain" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Domains",
        data: function () {
            return {
                domains: [],
                edit:{
                    id: 0,
                    domain: '',
                    title: '',
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getDomains();
        },
        methods: {
            getDomains() {
                axios.get('/admin/domains/show')
                    .then((response) => {
                        this.domains = response.data;
                    })
                    .catch(error => {
                    });
            },
            Published(id,x,block){
                const that = this;
                if (block === 0){
                    toastDelete.fire({
                        title: 'Activated?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/domains/published',{id:id,type:1})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.domains.find((f, idx) => idx == x);
                                        if (el){
                                            el.active = 1
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                } else{
                    toastDelete.fire({
                        title: 'Deactivated?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/domains/published',{id:id,type: 0})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.domains.find((f, idx) => idx == x);
                                        if (el){
                                            el.active = 0
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                }
            },
            createDomain(){
                const that = this;
                axios.post('/admin/domains/store',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            this.domains.push(response.data.domain);
                            $('#showAdd').modal('hide');
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            updateDomain(){
                const that = this;
                axios.post('/admin/domains/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.domains.find((f, idx) =>  f.id == response.data.domain.id);
                            if (el){
                                el.domain = response.data.domain.domain;
                                el.title = response.data.domain.title;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },

            Delete(id,x){
                toastDelete.fire({
                    title: 'Delete?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/domains/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.domains.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            showEdit(id){
                let el = this.domains.find((f,idx) => idx === id);
                if (el){
                    this.edit.domain = el.domain;
                    this.edit.title = el.title;
                    this.edit.id = el.id;
                    $('#showEdit').modal('show');
                }
            },
            clear(){
                this.edit.domain = '';
                this.edit.title = '';
                this.edit.id = 0;
            }
        }
    }
</script>

<style scoped>

</style>