<template>
    <div class="panel">
        <div class="panel--header">
            <p class="title"></p>
            <div class="btn-group">
                <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="filter-box">
            </div>
            <table class="left">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Country</th>
                    <th>Title</th>
                    <th>Raiting</th>
                    <th>Published</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(city, index) in cities">
                    <td>{{ city.id}}</td>
                    <td>{{ city.country}}</td>
                    <td>{{ city.title}}</td>
                    <td>{{ city.rating}}</td>
                    <td>
                        <span @click="Published(city.id,index,city.published)" class="ivu-switch" :class="{ 'ivu-switch-checked': city.published === 1  }">
                            <span class="ivu-switch-inner">
                                <span v-if="city.published == 1">On</span>
                                <span v-else>Off</span>
                            </span>
                        </span>
                    </td>
                    <td>
                        <div class="actions">
                            <button type="button" @click.prevent="showEdit(index)" class="btn btn-primary" title="Edit">Edit</button>
                            <button type="button" @click.prevent="Delete(city.id,index)" class="btn btn-danger ml-15" title="Delete">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="custom__modal--header">
                        <p class="title">Edit</p>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateCountry()">
                            <div class="form-group">
                                <label for="">Country</label>
                                <select class="form-control" v-model="edit.country_id">
                                    <option v-for="country in countries" :value="country.id">{{country.title}}</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" v-model="edit.title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Raiting</label>
                                <input type="text" v-model="edit.rating" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="custom__modal--header">
                        <p class="title">Add</p>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="createCountry()">
                            <div class="form-group">
                                <label for="">Country</label>
                                <select class="form-control" v-model="edit.country_id">
                                    <option v-for="country in countries" :value="country.id">{{country.title}}</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" v-model="edit.title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Raiting</label>
                                <input type="text" v-model="edit.rating" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Cities",
        data: function () {
            return {
                countries: [],
                cities: [],
                edit:{
                    id: 0,
                    title: '',
                    country_id: 0,
                    rating: 0,
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getCountries();
            this.getCities();
        },
        methods: {
            getCountries() {
                axios.get('/admin/countries/show')
                    .then((response) => {
                        this.countries = response.data;
                    })
                    .catch(error => {
                    })
                    .finally(() => {
                       let el = this.countries.find((f,idx) => idx === 0);
                       if (el){
                           this.edit.country_id = el.id
                       }
                    });
            },
            getCities() {
                axios.get('/admin/cities/show')
                    .then((response) => {
                        this.cities = response.data;
                    })
                    .catch(error => {
                    });
            },
            Published(id,x,block){
                const that = this;
                if (block === 0){
                    toastDelete.fire({
                        title: 'Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/cities/published',{id:id,type:1})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.cities.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 1
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                } else{
                    toastDelete.fire({
                        title: 'Un Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/cities/published',{id:id,type: 0})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.cities.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 0
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                }
            },
            updateCountry(){
                const that = this;
                axios.post('/admin/cities/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');

                            let cel = that.countries.find((f, idx) =>  f.id == that.edit.country_id);
                            let country = '';
                            if (cel){
                                country = cel.title;
                            }

                            let el = that.cities.find((f, idx) =>  f.id == response.data.city.id);
                            if (el){
                                el.title = response.data.city.title;
                                el.rating = response.data.city.rating;
                                el.country = country;
                                el.country_id = response.data.city.country_id;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            createCountry(){
                const that = this;
                axios.post('/admin/cities/store',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            that.cities.unshift(response.data.city);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },

            Delete(id,x){
                toastDelete.fire({
                    title: 'Remove?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/cities/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.cities.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            showEdit(id){
                let el = this.cities.find((f,idx) => idx === id);
                if (el){
                    this.edit.title = el.title;
                    this.edit.id = el.id;
                    this.edit.rating = el.rating;
                    this.edit.country_id = el.country_id;
                    $('#showEdit').modal('show');
                }
            },
            clear(){
                this.edit.title = '';
                this.edit.id = 0;
                this.edit.rating = 0;
                let el = this.countries.find((f,idx) => idx === 0);
                if (el){
                    this.edit.country_id = el.id
                }
            }
        }
    }
</script>

<style scoped>

</style>