<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="filter-box">
                </div>
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Title</th>
                        <th>User</th>
                        <th>Company</th>
                        <th>Phone</th>
                        <th>Code</th>
                        <th>Percent</th>
                        <th>Comment</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="promocodes.length > 0" v-for="(promo, index) in promocodes">
                        <td>{{ promo.id}}</td>
                        <td>{{ promo.title}}</td>
                        <td>{{ promo.first_name}} {{ promo.last_name}}</td>
                        <td>{{ promo.company}}</td>
                        <td>{{ promo.phone}}</td>
                        <td>{{ promo.code}}</td>
                        <td>{{ promo.percent}} %</td>
                        <td>{{ promo.comment}}</td>
                        <td>
                            <span class="badge badge-danger" v-if="promo.status === 1">Expired</span>
                            <span class="badge badge-info" v-if="promo.status === 2">Active</span>
                            <span class="badge badge-success" v-if="promo.status === 3">Promo code used </span>
                        </td>
                        <td>
                            <div class="actions">
                                <button type="button" v-if="promo.phone" @click.prevent="sendSms(index)" class="btn btn-info" title="Send SMS"><i class="fas fa-sms"></i></button>
                                <button type="button" @click.prevent="showEdit(index)" class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" @click.prevent="Delete(promo.id,index)" class="btn btn-danger" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="createPromo()">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input class="form-control" type="text" v-model="edit.title">
                                </div>
                                <div class="form-group">
                                    <label for="">First Name</label>
                                    <input class="form-control" type="text" v-model="edit.first_name">
                                </div>
                                <div class="form-group">
                                    <label for="">Last Name</label>
                                    <input class="form-control" type="text" v-model="edit.last_name">
                                </div>
                                <div class="form-group">
                                    <label for="">Company</label>
                                    <input class="form-control" type="text" v-model="edit.company">
                                </div>
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input class="form-control" type="text" v-model="edit.phone">
                                </div>
                                <div class="form-group">
                                    <label for="">Code</label>
                                    <input class="form-control" type="text" v-model="edit.code">
                                </div>
                                <div class="form-group">
                                    <label for="">Percent</label>
                                    <input class="form-control" type="text" v-model="edit.percent">
                                </div>
                                <div class="form-group">
                                    <label for="">Comment</label>
                                    <textarea class="form-control" v-model="edit.comment" cols="30" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="updatePromo()">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input class="form-control" type="text" v-model="edit.title">
                                </div>
                                <div class="form-group">
                                    <label for="">First Name</label>
                                    <input class="form-control" type="text" v-model="edit.first_name">
                                </div>
                                <div class="form-group">
                                    <label for="">Last Name</label>
                                    <input class="form-control" type="text" v-model="edit.last_name">
                                </div>
                                <div class="form-group">
                                    <label for="">Company</label>
                                    <input class="form-control" type="text" v-model="edit.company">
                                </div>
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input class="form-control" type="text" v-model="edit.phone">
                                </div>
                                <div class="form-group">
                                    <label for="">Code</label>
                                    <input class="form-control" type="text" v-model="edit.code">
                                </div>
                                <div class="form-group">
                                    <label for="">Percent</label>
                                    <input class="form-control" type="text" v-model="edit.percent">
                                </div>
                                <div class="form-group">
                                    <label for="">Comment</label>
                                    <textarea class="form-control" v-model="edit.comment" cols="30" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Promocodes",
        data: function () {
            return {
                promocodes: [],
                edit:{
                    id: 0,
                    first_name: '',
                    last_name: '',
                    title: '',
                    company: '',
                    phone: '',
                    code: '',
                    percent: 0,
                    comment: ''
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getPromo();
        },
        methods: {
            getPromo() {
                axios.get('/admin/promocodes/show')
                    .then((response) => {
                        this.promocodes = response.data;
                    })
                    .catch(error => {
                    });
            },
            updatePromo(){
                const that = this;
                axios.post('/admin/promocodes/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.promocodes.find((f, idx) =>  f.id == response.data.promo.id);
                            if (el){
                                el.first_name = response.data.promo.first_name;
                                el.last_name = response.data.promo.last_name;
                                el.title = response.data.promo.title;
                                el.company = response.data.promo.company;
                                el.phone = response.data.promo.phone;
                                el.code = response.data.promo.code;
                                el.percent = response.data.promo.percent;
                                el.comment = response.data.promo.comment;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            createPromo(){
                const that = this;
                axios.post('/admin/promocodes/store',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            this.promocodes.unshift(response.data.promo);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },

            Delete(id,x){
                toastDelete.fire({
                    title: 'Delete?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/promocodes/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.promocodes.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            sendSms(x){

            },
            showEdit(id){
                let el = this.promocodes.find((f,idx) => idx === id);
                if (el){
                    this.edit.title = el.title;
                    this.edit.first_name = el.first_name;
                    this.edit.last_name = el.last_name;
                    this.edit.company = el.company;
                    this.edit.phone = el.phone;
                    this.edit.code = el.code;
                    this.edit.percent = el.percent;
                    this.edit.comment = el.comment;
                    this.edit.id = el.id;
                    $('#showEdit').modal('show');
                }
            },
            clear(){
                this.first_name = '';
                this.last_name = '';
                this.title = '';
                this.company = '';
                this.phone = '';
                this.code = '';
                this.percent = 0;
                this.comment = '';
                this.edit.id = 0;
            }
        }
    }
</script>

<style scoped>

</style>