<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
                </div>
            </div>
            <div class="panel-body">
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Published</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(gallery, index) in galleries">
                        <td>{{ gallery.id}}</td>
                        <td>
                            <img :src="gallery.image" class="img-round" v-if="gallery.image" :alt="gallery.description">
                        </td>
                        <td>{{ gallery.description}}</td>
                        <td>
                        <span @click="Published(gallery.id,index,gallery.published)" class="ivu-switch" :class="{ 'ivu-switch-checked': gallery.published === 1  }">
                            <span class="ivu-switch-inner">
                                <span v-if="gallery.published == 1">On</span>
                                <span v-else>Off</span>
                            </span>
                        </span>
                        </td>
                        <td>
                            <div class="actions">
                                <button type="button" @click.prevent="showEdit(index)"  class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" @click.prevent="Delete(gallery.id,index)" class="btn btn-danger" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Add</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="createGallery()">
                                <div class="form-group"  v-if="edit.image">
                                    <label for="">Image</label>
                                    <img :src="edit.image" class="img--thumb" alt="изображение">
                                </div>
                                <div class="form-group">
                                    <button type="button" @click.prevent="uploadPrivates()" class="btn btn-primary">Upload image</button>
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <input type="text" v-model="edit.description" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="updateGallery()">
                                <div class="form-group"  v-if="edit.image">
                                    <label for="">Image</label>
                                    <img :src="edit.image" class="img--thumb" alt="изображение">
                                </div>
                                <div class="form-group">
                                    <button type="button" @click.prevent="uploadPrivates()" class="btn btn-primary">Upload image</button>
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <input type="text" v-model="edit.description" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Galleries",
        props: [
            "id"
        ],
        data: function () {
            return {
                galleries: [],
                edit: {
                    id: 0,
                    image : '',
                    description : '',
                    published : 0
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getGalleries();
        },
        methods: {
            getGalleries() {
                axios.get('/admin/reports/galleries/show',{
                    params:{
                        id: this.id
                    }
                })
                    .then((response) => {
                        this.galleries = response.data;
                    })
                    .catch(error => {
                    });
            },
            Delete(id,x){
                toastDelete.fire({
                    title: 'Delete?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/reports/galleries/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.galleries.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            Published(id,x,block){
                const that = this;
                if (block === 0){
                    toastDelete.fire({
                        title: 'Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/reports/galleries/published',{id:id,type:1})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.galleries.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 1
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                } else{
                    toastDelete.fire({
                        title: 'Un Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/reports/galleries/published',{id:id,type: 0})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.galleries.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 0
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                }
            },
            createGallery(){
                axios.post('/admin/reports/galleries/store',{
                    report: this.id,
                    image: this.edit.image,
                    description: this.edit.description,
                })
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            this.galleries.push(response.data.gallery);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            updateGallery(){
                const that = this;
                axios.post('/admin/reports/galleries/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.galleries.find((f, idx) =>  f.id == response.data.gallery.id);
                            if (el){
                                el.image = response.data.gallery.image;
                                el.description = response.data.gallery.description;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            showEdit(id){
                let el = this.galleries.find((f,idx) => idx === id);
                if (el){
                    this.edit.image = el.image;
                    this.edit.id = el.id;
                    this.edit.description = el.description;
                    $('#showEdit').modal('show');
                }
            },
            uploadPrivates(){
                this.selectFileWithCKFinder();
            },
            selectFileWithCKFinder() {
                const that = this;
                CKFinder.popup({
                    chooseFiles: true,
                    width: 800,
                    height: 600,
                    onInit: function( finder ) {
                        finder.on( 'files:choose', function( evt ) {
                            let file = evt.data.files.first();
                            that.edit.image = file.getUrl();
                        } );

                        finder.on( 'file:choose:resizedImage', function( evt ) {
                            that.edit.image = evt.data.resizedUrl;
                        } );
                    }
                });
            },
            clear(){
                this.edit.image = '';
                this.edit.description = '';
            }
        }
    }
</script>

<style scoped>

</style>