<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
                </div>
            </div>
            <div class="panel-body">
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Sort</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(report, index) in reports">
                        <td>{{ report.id}}</td>
                        <td>{{ report.label}}</td>
                        <td>{{ report.description}}</td>
                        <td>{{ report.sortorder}}</td>
                        <td>
                            <div class="actions">
                                <a :href="'/admin/reports/galleries/show/'+report.id" class="btn btn-info" title="Statistic"><i class="far fa-images"></i></a>
                                <button type="button" @click.prevent="showEdit(index)"  class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" @click.prevent="Delete(report.id,index)" class="btn btn-danger" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Add</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="createReport()">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" v-model="edit.label" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea v-model="edit.description" class="form-control" cols="30" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Sort</label>
                                    <input type="text" v-model="edit.sortorder" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="updateReport()">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" v-model="edit.label" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea v-model="edit.description" class="form-control" cols="30" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Sort</label>
                                    <input type="text" v-model="edit.sortorder" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Reports",
        data: function () {
            return {
                reports: [],
                edit: {
                    id: 0,
                    label : '',
                    description : '',
                    sortorder : 0
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getReports();
        },
        methods: {
            getReports() {
                axios.get('/admin/reports/show')
                    .then((response) => {
                        this.reports = response.data;
                    })
                    .catch(error => {
                    });
            },
            Delete(id,x){
                toastDelete.fire({
                    title: 'Delete?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/reports/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.reports.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },

            createReport(){
                axios.post('/admin/reports/store',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            this.reports.unshift(response.data.report);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            updateReport(){
                const that = this;
                axios.post('/admin/reports/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.reports.find((f, idx) =>  f.id == response.data.report.id);
                            if (el){
                                el.label = response.data.report.label;
                                el.description = response.data.report.description;
                                el.sortorder = response.data.report.sortorder;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            showEdit(id){
                let el = this.reports.find((f,idx) => idx === id);
                if (el){
                    this.edit.label = el.label;
                    this.edit.id = el.id;
                    this.edit.description = el.description;
                    $('#showEdit').modal('show');
                }
            },
            clear(){
                this.edit.label = '';
                this.edit.description = '';
                this.edit.sortorder = 0;
            }
        }
    }
</script>

<style scoped>

</style>