<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">

                </div>
            </div>
            <div class="panel-body">
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Cost</th>
                        <th>Date created</th>
                        <th>Status</th>
                        <th>Transaction</th>
                        <th>Date to</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(payment, index) in payments">
                        <td>{{ payment.id}}</td>
                        <td>{{ payment.cost}}</td>
                        <td>{{ payment.created_at}}</td>
                        <td>
                            <span class="badge badge-warning" v-if="payment.status === 0">not paid</span>
                            <span class="badge badge-success" v-if="payment.status === 1">paid</span>
                            <span class="badge badge-info" v-if="payment.status === 3">refund</span>
                        </td>
                        <td>{{payment.chargeid}}</td>
                        <td>{{payment.date_to}}</td>
                        <td>
                            <div class="actions">
                                <button type="button" @click.prevent="archivePayment(payment.id,index)" class="btn btn-danger" title="Archive"><i class="fas fa-archive"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UserPayments",
        props:[
            'id'
        ],
        data: function () {
            return {
                payments: [],
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getPayments();
        },
        methods: {
            getPayments() {
                axios.post('/admin/users/payments/show',{
                    id:this.id
                })
                    .then((response) => {
                        this.payments = response.data;
                    })
                    .catch(error => {
                    });
            },
            refundPayment(id,x){
                const that = this;
                toastDelete.fire({
                    title: 'Refund?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/payments/refund',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    let el = that.payments.find((f,idx) => idx === x);
                                    if (el){
                                        el.status = 3;
                                    }
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>