<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="filter-box">
                </div>
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Login</th>
                        <th>E-mail</th>
                        <th>Fullname</th>
                        <th>Phone</th>
                        <th>Tariff</th>
                        <th>Date tariff</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="users.length > 0" v-for="(user, index) in users">
                        <td>{{ user.id}}</td>
                        <td>{{ user.name}}</td>
                        <td>{{ user.email}}</td>
                        <td>{{ user.fullname}}</td>
                        <td>{{ user.phone}}</td>
                        <td>
                            <span class="badge badge-success" v-if="user.tariff">{{ user.tariff}}</span>
                        </td>
                        <td>{{ user.date_to}}</td>
                        <td>
                            <div class="actions">
                                <a :href="'/admin/users/payments/'+user.id" class="btn btn-info" title="Payments"><i class="fas fa-money-bill-alt"></i></a>
                                <button type="button" @click.prevent="showEdit(index)" class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" @click.prevent="Delete(user.id,index)" class="btn btn-danger" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Create</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="createuser()">
                                <div class="form-group">
                                    <label for="">Role user</label>
                                    <select v-model="edit.role_id" class="form-control">
                                        <option v-for="role in roles" :value="role.id">{{role.title}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Login</label>
                                    <input type="text" v-model="edit.name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Password</label>
                                    <input type="text" v-model="edit.password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">E-mail</label>
                                    <input type="email" v-model="edit.email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Fullname</label>
                                    <input type="text" v-model="edit.fullname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input type="phone" v-model="edit.phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="updateuser()">
                                <div class="form-group">
                                    <label for="">Role user</label>
                                    <select v-model="edit.role_id" class="form-control">
                                        <option v-for="role in roles" :value="role.id">{{role.title}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Login</label>
                                    <input type="text" v-model="edit.name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Password</label>
                                    <input type="text" v-model="edit.password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">E-mail</label>
                                    <input type="email" v-model="edit.email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Fullname</label>
                                    <input type="text" v-model="edit.fullname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input type="phone" v-model="edit.phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Users",
        data: function () {
            return {
                users: [],
                roles: [],
                edit:{
                    id: 0,
                    name: '',
                    email: '',
                    fullname: '',
                    password: '',
                    phone: '',
                    role_id: 1,
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getUsers();
        },
        methods: {
            getUsers() {
                axios.get('/admin/users/show')
                    .then((response) => {
                        this.users = response.data.users;
                        this.roles = response.data.roles;
                        let el = this.roles.find((f,idx) => idx === 0);
                        if (el){
                            this.edit.role = el.id;
                        }
                    })
                    .catch(error => {
                    });
            },
            updateuser(){
                const that = this;
                axios.post('/admin/users/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.users.find((f, idx) =>  f.id == response.data.user.id);
                            if (el){
                                el.name = response.data.user.name;
                                el.fullname = response.data.user.fullname;
                                el.email = response.data.user.email;
                                el.phone = response.data.user.phone;
                                el.password = response.data.user.pass;
                                el.role_id = response.data.user.role_id;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            createuser(){
                const that = this;
                axios.post('/admin/users/store',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            this.users.unshift(response.data.user);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },

            Delete(id,x){
                toastDelete.fire({
                    title: 'Remove?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/users/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.users.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            showEdit(id){
                let el = this.users.find((f,idx) => idx === id);
                if (el){
                    this.edit.name = el.name;
                    this.edit.fullname = el.fullname;
                    this.edit.email = el.email;
                    this.edit.phone = el.phone;
                    this.edit.password = el.pass;
                    this.edit.role_id = el.role_id;
                    this.edit.id = el.id;
                    $('#showEdit').modal('show');
                }
            },
            clear(){
                this.edit.name = '';
                this.edit.fullname = '';
                this.edit.email = '';
                this.edit.phone = '';
                this.edit.password = '';
                this.edit.id = 0;
                this.edit.role_id = 1;
            }
        }
    }
</script>

<style scoped>

</style>