<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
                </div>
            </div>
            <div class="panel-body">
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Published</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="sliders.length > 0" v-for="(slider, index) in sliders">
                        <td>{{ slider.id}}</td>
                        <td>
                            <img :src="slider.img" class="img-round" v-if="slider.img" :alt="slider.pagetitle">
                        </td>
                        <td>{{ slider.pagetitle}}</td>
                        <td>{{ slider.description}}</td>
                        <td>
                        <span @click="Published(slider.id,index,slider.published)" class="ivu-switch" :class="{ 'ivu-switch-checked': slider.published === 1  }">
                            <span class="ivu-switch-inner">
                                <span v-if="slider.published == 1">On</span>
                                <span v-else>Off</span>
                            </span>
                        </span>
                        </td>
                        <td>
                            <div class="actions">
                                <button type="button" @click.prevent="showEdit(slider.id)"  class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" @click.prevent="Delete(slider.id,index)" class="btn btn-danger" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Add</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="createSlider()">
                                <div class="form-group"  v-if="edit.img">
                                    <label for="">Image</label>
                                    <img :src="edit.img" class="img--thumb" alt="изображение">
                                </div>
                                <div class="form-group">
                                    <button type="button" @click.prevent="uploadPrivates()" class="btn btn-primary">upload image</button>
                                </div>
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" v-model="edit.pagetitle" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea v-model="edit.description" class="form-control" cols="30" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="updateSlider()">
                                <div class="form-group"  v-if="edit.img">
                                    <label for="">Image</label>
                                    <img :src="edit.img" class="img--thumb" alt="изображение">
                                </div>
                                <div class="form-group">
                                    <button type="button" @click.prevent="uploadPrivates()" class="btn btn-primary">upload image</button>
                                </div>
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" v-model="edit.pagetitle" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <textarea v-model="edit.description" class="form-control" cols="30" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Slider",
        data: function () {
            return {
                sliders: [],
                edit: {
                    id: 0,
                    pagetitle : '',
                    description : '',
                    img : '',
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getsliders();
        },
        methods: {
            getsliders() {
                axios.get('/admin/slider/show')
                    .then((response) => {
                        this.sliders = response.data.sliders;
                    })
                    .catch(error => {
                    });
            },
            Delete(id,x){
                toastDelete.fire({
                    title: 'Delete?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/slider/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.sliders.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },

            createSlider(){
                axios.post('/admin/slider/store',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            this.sliders.push(response.data.slider);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            updateSlider(){
                const that = this;
                axios.post('/admin/slider/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.sliders.find((f, idx) =>  f.id == response.data.slider.id);
                            if (el){
                                el.pagetitle = response.data.slider.title;
                                el.description = response.data.slider.description;
                                el.img = response.data.slider.img;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },

            showEdit(id){
                axios.post('/admin/slider/edit',{id:id})
                    .then((response) => {
                        if (response.data.error === 0){
                            this.edit.img = response.data.slider.img;
                            this.edit.pagetitle = response.data.slider.pagetitle;
                            this.edit.description = response.data.slider.description;
                            this.edit.id = response.data.slider.id;
                            $('#showEdit').modal('show');
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }
                    })
                    .catch(error => {
                    });

            },

            Published(id,x,block){
                const that = this;
                if (block === 0){
                    toastDelete.fire({
                        title: 'Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/slider/published',{id:id,type:1})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.sliders.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 1
                                        }
                                    }else{
                                        toast.fire({
                                            icon: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                } else{
                    toastDelete.fire({
                        title: 'Un Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/slider/published',{id:id,type: 0})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.sliders.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 0
                                        }
                                    }else{
                                        toast.fire({
                                            icon: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                }
            },
            uploadPrivates(){
                this.selectFileWithCKFinder();
            },
            selectFileWithCKFinder() {
                const that = this;
                CKFinder.popup({
                    chooseFiles: true,
                    width: 800,
                    height: 600,
                    onInit: function( finder ) {
                        finder.on( 'files:choose', function( evt ) {
                            let file = evt.data.files.first();
                            that.edit.img = file.getUrl();
                        } );

                        finder.on( 'file:choose:resizedImage', function( evt ) {
                            that.edit.img = evt.data.resizedUrl;
                        } );
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>