<template>
    <div class="panel">
        <form @submit.prevent="pageUpdate()">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
            <div class="panel-body ptb">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="form-control" v-model="page.pagetitle">
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea v-model="page.description" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Meta title</label>
                            <input type="text" class="form-control" v-model="page.meta_pagetitle">
                        </div>
                        <div class="form-group">
                            <label for="">Meta keywords</label>
                            <input type="text" class="form-control" v-model="page.meta_keywords">
                        </div>
                        <div class="form-group">
                            <label for="">Meta description</label>
                            <textarea v-model="page.meta_description" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Content</label>
                            <ckeditor :editor="editor" v-model="page.content" :config="editorConfig"></ckeditor>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <img :src="page.img" v-if="page.img" class="img--thumb" alt="Изображение">
                            <button type="button" @click.prevent="imageUpload()" class="btn btn-primary">Upload image</button>
                        </div>
                        <div class="form-group">
                            <label for="">Published</label>
                            <span @click="Published()" class="ivu-switch" :class="{ 'ivu-switch-checked': page.published === 1  }">
                                <span class="ivu-switch-inner">
                                    <span v-if="page.published == 1">On</span>
                                    <span v-else>Off</span>
                                </span>
                            </span>
                        </div>
                        <!--<div class="form-group">
                            <label for="">В подвале</label>
                            <span @click="Bottom()" class="ivu-switch" :class="{ 'ivu-switch-checked': page.bottom === 1  }">
                                <span class="ivu-switch-inner">
                                    <span v-if="page.bottom == 1">On</span>
                                    <span v-else>Off</span>
                                </span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="">Скрыть из меню</label>
                            <span @click="Hidemenu()" class="ivu-switch" :class="{ 'ivu-switch-checked': page.hidemenu === 1  }">
                                <span class="ivu-switch-inner">
                                    <span v-if="page.hidemenu == 1">On</span>
                                    <span v-else>Off</span>
                                </span>
                            </span>
                        </div>-->
                        <div class="form-group">
                            <label for="">Menuindex</label>
                            <input type="number" class="form-control" v-model="page.menuindex">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    export default {
        name: "Edit",
        components: {
            ckeditor: CKEditor.component,
        },
        props:[
            'id'
        ],
        data: function () {
            return {
                page: {
                    pagetitle: '',
                    description: '',
                    meta_pagetitle: '',
                    meta_keywords: '',
                    meta_description: '',
                    content: '',
                    published: 1,
                    hidemenu: 1,
                    bottom: 0,
                    menuindex: 0,
                    img: ''
                },
                editor: ClassicEditor,

                editorConfig: {
                    ckfinder: {
                        uploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json'
                    },
                    toolbar: ['ckfinder', '|', 'heading', '|','bulletedList','|','numberedList','|',
                        'blockQuote','|','link','|', 'bold','|', 'italic', '|', 'undo', 'redo','insertTable'
                    ],

                    language: 'ru'
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getPage();
        },
        methods: {
            getPage(){
                axios.post('/admin/pages/info', {id: this.id})
                    .then((response) => {
                        this.page = response.data;
                    })
                    .catch(error => {});
            },
            Published(){
                if (this.page.published === 0) this.page.published = 1;else this.page.published = 0;
            },
            Hidemenu(){
                if (this.page.hidemenu === 0) this.page.hidemenu = 1;else this.page.hidemenu = 0;
            },
            Bottom(){
                if (this.page.bottom === 0) this.page.bottom = 1;else this.page.bottom = 0;
            },
            imageUpload(){
                this.selectFileWithCKFinder();
            },
            selectFileWithCKFinder() {
                const that = this;
                CKFinder.popup( {
                    chooseFiles: true,
                    width: 800,
                    height: 600,
                    onInit: function( finder ) {
                        finder.on( 'files:choose', function( evt ) {
                            let file = evt.data.files.first();
                            //let output = document.getElementById( elementId );
                            //output.value = file.getUrl();
                            that.page.img = file.getUrl();
                        } );

                        finder.on( 'file:choose:resizedImage', function( evt ) {
                            //let output = document.getElementById( elementId );
                            //output.value = evt.data.resizedUrl;
                            that.page.img = evt.data.resizedUrl;
                        } );
                    }
                } );
            },
            pageUpdate(){
                axios.post(window.location.href, this.page)
                    .then((response) => {
                        if (response.data.error == 0) {
                            toast.fire({
                                icon: 'success',
                                title: response.data.message
                            });

                        }else{
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                    })
                    .catch(error => {});
            },
        }
    }

</script>

<style scoped>

</style>