<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-body">
                <div class="filter-box">
                    <form action="" class="search">
                        <label for="">Search: </label>
                        <input type="text" class="form-control" v-model="search" name="search">
                    </form>
                </div>
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="pages.length > 0" v-for="(page, index) in pages">
                        <td>{{ page.id}}</td>
                        <td>{{ page.pagetitle}}</td>
                        <td>{{ page.description}}</td>
                        <td>
                            <div class="actions">
                                <a :href="'/admin/pages/edit/'+page.id" class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Pages",
        data: function () {
            return {
                pages: [],
                search: '',
            }
        },
        watch: {
            search(after, before) {
                this.searchPage();
            }
        },
        computed: {},
        mounted() {
            this.getPages();
        },
        methods: {
            getPages() {
                axios.get('/admin/pages/show')
                    .then((response) => {
                        this.pages = response.data.pages;
                    })
                    .catch(error => {
                    });
            },
            searchPage() {
                axios.post('/admin/pages/search', {search: this.search})
                    .then((response) => {
                        this.pages = response.data
                    })
                    .catch(error => {
                    });
            }
        }
    }
</script>

<style scoped>

</style>