<template>
    <div class="panel">
        <div class="panel--header">
            <p class="title"></p>
            <div class="btn-group">
                <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="filter-box">
            </div>
            <table class="left">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(compare, index) in compares">
                    <td>{{ compare.id}}</td>
                    <td>{{ compare.title}}</td>
                    <td>{{ compare.description}}</td>
                    <td>
                        <div class="actions">
                            <button type="button" @click.prevent="showEdit(index)" class="btn btn-primary" title="Edit">Edit</button>
                            <button type="button" @click.prevent="Delete(compare.id,index)" class="btn btn-danger ml-15" title="Delete">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="custom__modal--header">
                        <p class="title">Edit</p>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="updateCompare()">
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" v-model="edit.title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <input type="text" v-model="edit.description" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="custom__modal--header">
                        <p class="title">Add</p>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="createCompare()">
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" v-model="edit.title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <input type="text" v-model="edit.description" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Compares",
        data: function () {
            return {
                compares: [],
                edit:{
                    id: 0,
                    title: '',
                    description: '',
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getCompares();
        },
        methods: {
            getCompares() {
                axios.get('/admin/compares/show')
                    .then((response) => {
                        this.compares = response.data;
                    })
                    .catch(error => {
                    });
            },
            updateCompare(){
                const that = this;
                axios.post('/admin/compares/update',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.compares.find((f, idx) =>  f.id == response.data.compare.id);
                            if (el){
                                el.title = response.data.compare.title;
                                el.description = response.data.compare.description;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            createCompare(){
                const that = this;
                axios.post('/admin/compares/store',this.edit)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            that.compares.unshift(response.data.compare);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },

            Delete(id,x){
                toastDelete.fire({
                    title: 'Remove?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/compares/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.compares.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            showEdit(id){
                let el = this.compares.find((f,idx) => idx === id);
                if (el){
                    this.edit.title = el.title;
                    this.edit.description = el.description;
                    this.edit.id = el.id;
                    $('#showEdit').modal('show');
                }
            },
            clear(){
                this.edit.title = '';
                this.edit.description = '';
                this.edit.id = 0;
            }
        }
    }
</script>

<style scoped>

</style>