a {
  color: $blue;
  text-decoration: none;
  background-color: transparent;
}

.ivu-switch {
  width: 46px;
  height: 23px;
  line-height: 22px;
  border-radius: 24px;
  vertical-align: middle;
  border: 1px solid #9a9eae;
  background-color: #f4f4f7;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: flex;
  .ivu-switch-inner {
    color: #757b91;
    font-size: 12px;
    position: absolute;
    left: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &:after {
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 20px;
    background-color: #d24a43;
    position: absolute;
    left: -13px;
    top: -3px;
    cursor: pointer;
    -webkit-transition: left .2s ease-in-out,width .2s ease-in-out;
    transition: left .2s ease-in-out,width .2s ease-in-out;
  }
  &.ivu-switch-checked {
    .ivu-switch-inner {
      left: 5px;
    }
    &:after {
      background-color: $green;
      left: 25px;
    }
  }
}

.ivu-switch-large.ivu-switch-checked
.ivu-switch {
  display: inline-block;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  width: max-content;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}