@import "var";

.main-header{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem .5rem;
  transition: margin-left .3s ease-in-out;
  margin-left: 250px;
  border-bottom: 1px solid $border;
  background-color: #fff;
}
.navbar-nav{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  .nav-item{
    margin-bottom: 0;
  }
  .nav-link{
    color: rgba(0,0,0,.5);
    height: 2.5rem;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .btn-toggle{
    border: none;
    background-color: transparent;
  }
}