@import "var";
.content-header{
  padding: 15px .5rem;
  h1 {
    font-size: 1.8rem;
    margin: 0;
  }
}
.panel {
  background: #fff;
  border: 1px solid rgba(0,0,0,.125);
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.panel--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 16px;
  color: rgba(255, 255, 255, .6);
  border-radius: 4px 4px 0 0;
  padding: 0 15px;
  color: #000;
  p {
    margin: 0;
  }
}
.panel-body{
  background-color: #fff;
  padding: 15px;

  .filter-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border;
    padding: 8px 0;
    .search{
      display: flex;
      align-items: center;
      label{
        margin-right: 10px;
      }
    }
    .filter--actions{
      display: flex;
      align-items: center;
      .item{
        display: flex;
        align-items: center;
        .title{
          margin-right: 15px;
        }
      }
    }
  }
}
//Auth and Register

.auth{
  min-height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  .center--box{
    width: 376px;
    &.w-50{
      width: 50%;
    }
  }
  .footer--form{
    padding: 30px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
      color: #000;
      font-size: 16px;
      &:hover{
        color: $red;
      }
    }
  }
  .form__center{
    .title{
      text-align: center;
      font-size: 25px;
      color: #fff;
      font-weight: 100;
      display: block;
      width: 100%;
    }
    .form-body{
      padding: 30px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      .form-group{
        display: flex;
        flex-basis: 100%;
      }
    }
  }
}
.circle_box_sm {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px 4px;
  color: #000;
  font-size: 14px;
  line-height: 2.3;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.social__box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social__group{
  width: calc(50% - 15px);
  position: relative;
  margin-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  border: 1px solid #f9f9f9;
  input{
    height: 100%;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .circle_box_sm{
    position: absolute;
    left: 0;
  }
}