@import "var";
.brand-logo{
  border-bottom: 1px solid #4b545c;
  padding: .8125rem .5rem;
  transition: width .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    max-width: 100%;
  }
}
.main-sidebar{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: hidden;
  z-index: 1038;
  transition: margin-left .3s ease-in-out,width .3s ease-in-out;
  width: 250px;
  background-color: $dark;
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
  a{
    color: #c2c7d0;
  }
}
.navigation {
  overflow-y: auto;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0;
  height: calc(100vh - 52px);
}
.nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  .nav-header{
    color: #d0d4db;
    font-size: .9rem;
    padding: .5rem;
    &:not(:first-of-type) {
      padding: 1.7rem 1rem .5rem;
    }
  }
  &>.nav-item{
    &>.nav-link{
      color: #fff;
      margin-bottom: .2rem;
      display: flex;
      padding: .5rem 1rem;
      align-items: center;
      position: relative;
      &:hover{
        background-color: rgba(255,255,255,.1);
        color: #fff;
      }
      .right {
        transition: -webkit-transform ease-in-out .3s;
        transition: transform ease-in-out .3s;
        transition: transform ease-in-out .3s,-webkit-transform ease-in-out .3s;
        position: absolute;
        right: 1rem;
        top: .7rem;
      }
    }
    .nav-icon{
      font-size: 1.1rem;
      margin-right: .2rem;
      text-align: center;
      width: 1.6rem;
    }
  }
  .nav-treeview {
    display: none;
    list-style: none;
    padding: 0;
    &>.nav-item{
      &>.nav-link {
        color: #c2c7d0;
        &:hover{
          background-color: rgba(255,255,255,.1);
          color: #fff;
        }
      }
    }
  }
  .nav-link{
    border-radius: .25rem;
  }
  .menu-open{
    &>.nav-link{
      background-color: rgba(255,255,255,.1);
      color: #fff;
      i.right {
        transform: rotate(-90deg);
      }
    }
    &>.nav-treeview {
      display: block;
    }
  }
}
