table{
  width: 100%;
  border-collapse: collapse;
  &.left{
    th,td{
      text-align: left;
    }
  }
  th,td{
    font-size: 14px;
    font-weight: 300;
    border-bottom: 1px solid #DEDEDE;
    padding: 8px 15px;
    color: #000;
  }
  th{
    font-weight: 600;
    text-align: center;
    &:first-of-type{
      text-align: left;
    }
    &:last-of-type{
      text-align: right;
    }
  }
  td{
    font-weight: 400;
    text-align: center;
    .actions{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0 -5px;
      .btn{
        margin: 0 5px;
      }
    }
    .img-round{
      display: block;
      margin: 0 auto;
    }
  }
  tr{
    &:last-of-type{
      td{
        bottom: 0;
      }
    }
  }
}