<template>
    <div class="panel">
        <form @submit.prevent="tariffCreate()">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
            <div class="panel-body ptb">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="form-control" v-model="tariff.title">
                        </div>
                        <div class="form-group">
                            <label for="">Price</label>
                            <input type="text" class="form-control" v-model="tariff.price">
                        </div>
                        <div class="form-group">
                            <label for="">Days</label>
                            <input type="text" class="form-control" v-model="tariff.days">
                        </div>
                        <div class="row" v-for="(compare, index) in compares">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label v-html="compare.title"></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="">Published</label>
                                    <span @click="PublishedCompare(compare.availability,index)" class="ivu-switch" :class="{ 'ivu-switch-checked': compare.availability === 1  }">
                                <span class="ivu-switch-inner">
                                    <span v-if="compare.availability == 1">On</span>
                                    <span v-else>Off</span>
                                </span>
                            </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Comment</label>
                                    <textarea class="form-control" v-model="compare.comment" cols="30" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Published</label>
                            <span @click="Published()" class="ivu-switch" :class="{ 'ivu-switch-checked': tariff.published === 1  }">
                                <span class="ivu-switch-inner">
                                    <span v-if="tariff.published == 1">On</span>
                                    <span v-else>Off</span>
                                </span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="">Special</label>
                            <span @click="PublishedSpecial()" class="ivu-switch" :class="{ 'ivu-switch-checked': tariff.special === 1  }">
                                <span class="ivu-switch-inner">
                                    <span v-if="tariff.special == 1">On</span>
                                    <span v-else>Off</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "Create",
        data: function () {
            return {
                tariff: {
                    title: '',
                    price: 0,
                    days: 0,
                    published: 0,
                    special: 0,
                },
                compares: [],
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getCompares();
        },
        methods: {
            getCompares(){
                axios.get('/admin/tariffs/show/compares/create')
                    .then((response) => {
                        this.compares = response.data;
                    })
                    .catch(error => {
                    });
            },
            tariffCreate(){
                const that = this;
                let formData = new FormData();
                formData.append('title', this.tariff.title);
                formData.append('price', this.tariff.price);
                formData.append('days', this.tariff.days);
                formData.append('published', this.tariff.published);
                formData.append('special', this.tariff.special);
                formData.append('compares', JSON.stringify(this.compares));
                axios.post('/admin/tariffs/store',formData)
                    .then((response) => {
                        if (response.data.error === 0){
                            toast.fire({
                                icon: 'success',
                                title: response.data.message
                            });
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            Published(){
                if (this.tariff.published === 0) this.tariff.published = 1;else this.tariff.published = 0;
            },
            PublishedSpecial(){
                if (this.tariff.special === 0) this.tariff.special = 1;else this.tariff.special = 0;
            },
            PublishedCompare(availability,x){
                let el = this.compares.find((f,idx) => idx === x);
                if (el){
                    if (availability === 1) el.availability = 0;else el.availability = 1;
                }
            },
            clear(){
                this.tariff.title = '';
                this.tariff.price = 0;
                this.tariff.days = 0;
                this.tariff.special = 0;
                this.tariff.published = 0;

                $.each(this.compares, function( key,value) {
                    value.availability = 0;
                    value.comment = '';
                });
            }
        }
    }
</script>

<style scoped>

</style>