<template>
    <div class="panel">
        <div class="panel--header">
            <p class="title"></p>
            <div class="btn-group">
                <a href="/admin/tariffs/create" class="btn btn-success">Add</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="filter-box">
            </div>
            <table class="left">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Days</th>
                    <th>Published</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(compare, index) in tariffs">
                    <td>{{ compare.id}}</td>
                    <td>{{ compare.title}}</td>
                    <td>{{ compare.price}}</td>
                    <td>{{ compare.days}}</td>
                    <td>
                        <span @click="Published(compare.id,index,compare.published)" class="ivu-switch" :class="{ 'ivu-switch-checked': compare.published === 1  }">
                            <span class="ivu-switch-inner">
                                <span v-if="compare.published == 1">On</span>
                                <span v-else>Off</span>
                            </span>
                        </span>
                    </td>
                    <td>
                        <div class="actions">
                            <a :href="'/admin/tariffs/edit/'+compare.id" class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <button type="button" @click.prevent="Delete(compare.id,index)" class="btn btn-danger ml-15" title="Delete"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Tariffs",
        data: function () {
            return {
                tariffs: [],
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            this.getTariffs();
        },
        methods: {
            getTariffs() {
                axios.get('/admin/tariffs/show')
                    .then((response) => {
                        this.tariffs = response.data;
                    })
                    .catch(error => {
                    });
            },
            Published(id,x,block){
                const that = this;
                if (block === 0){
                    toastDelete.fire({
                        title: 'Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/tariffs/published',{id:id,type:1})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.tariffs.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 1
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                } else{
                    toastDelete.fire({
                        title: 'Un Published?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.value) {
                            axios.post('/admin/tariffs/published',{id:id,type: 0})
                                .then((response) => {
                                    if (response.data.error == 0) {
                                        toast.fire({
                                            icon: 'success',
                                            title: response.data.message
                                        });
                                        let el = that.tariffs.find((f, idx) => idx == x);
                                        if (el){
                                            el.published = 0
                                        }
                                    }else{
                                        toast.fire({
                                            type: 'error',
                                            title: response.data.message
                                        });
                                    }
                                })
                                .catch(error => {});
                        }
                    });
                }
            },
            Delete(id,x){
                toastDelete.fire({
                    title: 'Remove?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/tariffs/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.tariffs.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>