<template>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel--header">
                <p class="title"></p>
                <div class="btn-group">
                    <button type="button"  data-toggle="modal" data-target="#showAdd" class="btn btn-success">Add</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="filter-box">
                    <form @submit.prevent="submitFilter()" method="post" class="form-inline">
                        <div class="form-group mr-sm-3 mb-2">
                            <input type="text" class="form-control" v-model="filter.name" placeholder="Company name">
                        </div>
                        <div class="form-group mr-sm-3 mb-2">
                            <input type="text" class="form-control" v-model="filter.email" placeholder="E-mail">
                        </div>
                        <button type="submit" class="btn mr-sm-3 btn-primary mb-2">Search</button>
                        <button type="button" @click.prevent="resetFilter()" class="btn btn-dark mb-2">Reset</button>
                    </form>
                </div>
                <table class="left">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Image</th>
                        <th>User</th>
                        <th>Category</th>
                        <th>Company name</th>
                        <th>E-mail</th>
                        <th>Website</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Tariff</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(company, index) in companies">
                        <td>{{ company.id}}</td>
                        <td>
                            <img :src="'/storage/'+company.image" class="img-round" v-if="company.image" :alt="company.pagetitle">
                        </td>
                        <td>{{ company.fullname}}</td>
                        <td>{{ company.cat}}</td>
                        <td>{{ company.name}}</td>
                        <td>{{ company.email}}</td>
                        <td>{{ company.website}}</td>
                        <td>{{ company.address}}</td>
                        <td>{{ company.phone}}</td>
                        <td>
                            <span class="badge badge-success">{{ company.tariff}}</span>
                        </td>
                        <td>
                            <div class="actions">
                                <button type="button" @click.prevent="showEdit(index)"  class="btn btn-primary" title="Edit"><i class="fas fa-pencil-alt"></i></button>
                                <button type="button" @click.prevent="Delete(company.id,index)" class="btn btn-danger" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="showAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Add</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="createCompany()">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" v-model="edit.name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Категория</label>
                                    <select v-model="edit.category_id" class="form-control">
                                        <option :value="0">Select category</option>
                                        <option v-for="category in categories" :value="category.id">{{category.title}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Users</label>
                                    <select v-model="edit.user_id" class="form-control">
                                        <option :value="0">Select user</option>
                                        <option v-for="user in users" :value="user.id">{{user.fullname}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">City</label>
                                    <select  v-model="edit.city_id" class="form-control">
                                        <option v-for="city in cities" :value="city.id">{{city.title}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Address</label>
                                    <input type="text" v-model="edit.address" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Zip</label>
                                    <input type="text" v-model="edit.zip" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">E-mail</label>
                                    <input type="text" v-model="edit.email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input type="text" v-model="edit.phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Time,AM</label>
                                    <input type="text" v-model="edit.time_am" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Time,PM</label>
                                    <input type="text" v-model="edit.time_pm" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Website</label>
                                    <input type="text" v-model="edit.website" class="form-control">
                                </div>
                                <div class="form-group"  v-if="edit.image">
                                    <label for="">Image</label>
                                    <img :src="'/storage/'+edit.image" class="img--thumb" alt="изображение">
                                </div>
                                <div class="form-group">
                                    <input type="file" @change="uploadImage()" class="btn btn-primary" value="Add image">
                                </div>
                                <div class="form-group">
                                    <div class="social__box">
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.facebook" name="facebook" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-facebook-f"></i></div>
                                        </div>
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.google" name="google" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-google-plus-g"></i></div>
                                        </div>
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.linkedin" name="linkedin" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-linkedin-in"></i></div>
                                        </div>
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.instagram" name="instagram" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-instagram"></i></div>
                                        </div>
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.twitter" name="twitter" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-twitter"></i></div>
                                        </div>
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.youtube" name="youtube" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-youtube"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="showEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="custom__modal--header">
                            <p class="title">Edit</p>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="updateCompany()">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" v-model="edit.name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Категория</label>
                                    <select v-model="edit.category_id" class="form-control">
                                        <option :value="0">Select category</option>
                                        <option v-for="category in categories" :value="category.id">{{category.title}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Users</label>
                                    <select v-model="edit.user_id" class="form-control">
                                        <option :value="0">Select user</option>
                                        <option v-for="user in users" :value="user.id">{{user.fullname}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">City</label>
                                    <select  v-model="edit.city_id" class="form-control">
                                        <option v-for="city in cities" :value="city.id">{{city.title}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Address</label>
                                    <input type="text" v-model="edit.address" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Zip</label>
                                    <input type="text" v-model="edit.zip" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">E-mail</label>
                                    <input type="text" v-model="edit.email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input type="text" v-model="edit.phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Time,AM</label>
                                    <input type="text" v-model="edit.time_am" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Time,PM</label>
                                    <input type="text" v-model="edit.time_pm" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Website</label>
                                    <input type="text" v-model="edit.website" class="form-control">
                                </div>
                                <div class="form-group"  v-if="edit.image">
                                    <label for="">Image</label>
                                    <img :src="'/storage/'+edit.image" class="img--thumb" alt="изображение">
                                </div>
                                <div class="form-group">
                                    <input type="file" @change="uploadImage()" class="btn btn-primary" value="Add image">
                                </div>
                                <div class="form-group">
                                    <div class="social__box">
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.facebook" name="facebook" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-facebook-f"></i></div>
                                        </div>
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.google" name="google" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-google-plus-g"></i></div>
                                        </div>
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.linkedin" name="linkedin" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-linkedin-in"></i></div>
                                        </div>
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.instagram" name="instagram" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-instagram"></i></div>
                                        </div>
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.twitter" name="twitter" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-twitter"></i></div>
                                        </div>
                                        <div class="social__group">
                                            <input type="text" class="input " v-model="edit.youtube" name="youtube" placeholder="Social link">
                                            <div class="circle_box_sm faces"><i class="fab fa-youtube"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Companies",
        data: function () {
            return {
                companies: [],
                cities:[],
                categories: [],
                users: [],
                edit: {
                    id: 0,
                    name:'',
                    category_id: 0,
                    user_id: 0,
                    city_id: 0,
                    address: '',
                    social: [],
                    socials: [],
                    zip: '',
                    email: '',
                    phone: '',
                    time_am: '',
                    time_pm: '',
                    website: '',
                    image: '',
                    upload: '',
                    facebook: '',
                    google: '',
                    linkedin: '',
                    instagram: '',
                    twitter: '',
                    youtube: '',
                },
                formSocial: [],
                filter:{
                    name: '',
                    email: '',
                }
            }
        },
        watch: {
        },
        computed: {},
        mounted() {
            let element  = {
                social: '',
            };
            this.formSocial.push(element);
            this.getCompanies();
        },
        methods: {
            getCompanies() {
                axios.get('/admin/companies/show')
                    .then((response) => {
                        this.cities = response.data.cities;
                        let el = this.cities.find((f,idx) => idx === 0);
                        if (el){
                            this.edit.city_id = el.id;
                        }else this.edit.city_id = 0;
                        this.companies = response.data.companies;
                        this.categories = response.data.categories;
                        this.users = response.data.users;
                    })
                    .catch(error => {
                    });
            },
            resetFilter(){
              this.getCompanies();
              this.filter.name = '';
              this.filter.email = '';
            },
            submitFilter() {
                axios.get('/admin/companies/filter',{
                    params:{
                        name: this.filter.name,
                        email: this.filter.email,
                    }
                })
                .then((response) => {
                    this.companies = response.data;
                })
                .catch(error => {
                });
            },
            Delete(id,x){
                toastDelete.fire({
                    title: 'Remove?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/admin/companies/delete',{id:id})
                            .then((response) => {
                                if (response.data.error === 0){
                                    this.companies.splice(x,1);
                                }
                                if (response.data.error === 1){
                                    toast.fire({
                                        icon: 'error',
                                        title: response.data.message
                                    });
                                }
                                if (response.data.error === 2){
                                    window.location = response.data.link;
                                }

                            })
                            .catch(error => {
                            });
                    }
                });
            },
            uploadImage(){
                this.edit.upload = event.target.files[0];
            },
            createCompany(){
                const that = this;
                const config = {headers: {'Content-Type': 'multipart/form-data'}};
                let formData = new FormData();
                formData.append('name', this.edit.name);
                formData.append('zip', this.edit.zip);
                formData.append('city_id', this.edit.city_id);
                formData.append('address', this.edit.address);
                formData.append('email', this.edit.email);
                formData.append('phone', this.edit.phone);
                formData.append('address', this.edit.address);
                formData.append('time_am', this.edit.time_am);
                formData.append('time_pm', this.edit.time_pm);
                formData.append('website', this.edit.website);
                formData.append('facebook', this.edit.facebook);
                formData.append('google', this.edit.google);
                formData.append('linkedin', this.edit.linkedin);
                formData.append('instagram', this.edit.instagram);
                formData.append('youtube', this.edit.youtube);
                formData.append('twitter', this.edit.twitter);
                formData.append('category_id', this.edit.category_id);
                formData.append('social', JSON.stringify(this.formSocial));
                formData.append('user_id', this.edit.user_id);
                formData.append('upload', this.edit.upload);

                axios.post('/admin/companies/store',formData,config)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showAdd').modal('hide');
                            this.companies.push(response.data.company);
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            updateCompany(){
                const that = this;
                const config = {headers: {'Content-Type': 'multipart/form-data'}};
                let formData = new FormData();
                formData.append('id', this.edit.id);
                formData.append('name', this.edit.name);
                formData.append('zip', this.edit.zip);
                formData.append('city_id', this.edit.city_id);
                formData.append('address', this.edit.address);
                formData.append('email', this.edit.email);
                formData.append('phone', this.edit.phone);
                formData.append('address', this.edit.address);
                formData.append('time_am', this.edit.time_am);
                formData.append('time_pm', this.edit.time_pm);
                formData.append('website', this.edit.website);
                formData.append('facebook', this.edit.facebook);
                formData.append('google', this.edit.google);
                formData.append('linkedin', this.edit.linkedin);
                formData.append('instagram', this.edit.instagram);
                formData.append('youtube', this.edit.youtube);
                formData.append('twitter', this.edit.twitter);
                formData.append('category_id', this.edit.category_id);
                formData.append('user_id', this.edit.user_id);
                formData.append('social', JSON.stringify(this.formSocial));
                formData.append('image', this.edit.image);
                formData.append('upload', this.edit.upload);

                axios.post('/admin/companies/update',formData,config)
                    .then((response) => {
                        if (response.data.error === 0){
                            $('#showEdit').modal('hide');
                            let el = that.companies.find((f, idx) =>  f.id == response.data.company.id);
                            if (el){
                                el.name = response.data.company.name;
                                el.zip = response.data.company.zip;
                                el.city_id = response.data.company.city_id;
                                el.address = response.data.company.address;
                                el.email = response.data.company.email;
                                el.phone = response.data.company.phone;
                                el.time_am = response.data.company.time_am;
                                el.time_pm = response.data.company.time_pm;
                                el.website = response.data.company.website;
                                el.image = response.data.company.image;
                                el.cat = response.data.company.cat;
                                el.socials = response.data.company.socials;
                                el.category_id = response.data.company.category_id;
                                el.user_id = response.data.company.user_id;
                                el.fullname = response.data.company.fullname;
                                el.facebook = response.data.company.facebook;
                                el.google = response.data.company.google;
                                el.linkedin = response.data.company.linkedin;
                                el.instagram = response.data.company.instagram;
                                el.youtube = response.data.company.youtube;
                                el.twitter = response.data.company.twitter;
                            }
                            this.clear();
                        }
                        if (response.data.error === 1){
                            toast.fire({
                                icon: 'error',
                                title: response.data.message
                            });
                        }
                        if (response.data.error === 2){
                            window.location = response.data.link;
                        }

                    })
                    .catch(error => {
                    });
            },
            deleteSocial(x){
                if (this.formSocial.length > 1) this.formSocial.splice(x,1);
            },
            addSocial(){
                let element  ={
                    social: '',
                };
                this.formSocial.push(element);
            },
            showEdit(id){
                const that = this;
                let el = this.companies.find((f,idx) => idx === id);
                if (el){
                    this.edit.name = el.name;
                    this.edit.zip = el.zip;
                    this.edit.city_id = el.city_id;
                    this.edit.address = el.address;
                    this.edit.email = el.email;
                    this.formSocial = [];
                    if (el.socials && jQuery.parseJSON(el.socials).length > 0){
                        $(jQuery.parseJSON(el.socials)).each(function( index,value,form ) {
                            let editSoc = that.formSocial.find((f,idx) => f.social === '');
                            if (editSoc){
                                editSoc.social = value;
                            }else{
                                let element  ={
                                    social: value,
                                };
                                that.formSocial.push(element);
                            }

                        });
                    }else{
                        let element  ={
                            social: '',
                        };
                        that.formSocial.push(element);
                    }
                    this.edit.phone = el.phone;
                    this.edit.time_am = el.time_am;
                    this.edit.time_pm = el.time_pm;
                    this.edit.image = el.image;
                    this.edit.website = el.website;
                    this.edit.category_id = el.category_id;
                    this.edit.user_id = el.user_id;
                    this.edit.facebook = el.facebook;
                    this.edit.google = el.google;
                    this.edit.linkedin = el.linkedin;
                    this.edit.twitter = el.twitter;
                    this.edit.instagram = el.instagram;
                    this.edit.youtube = el.youtube;
                    this.edit.id = el.id;
                    $('#showEdit').modal('show');
                }
            },
            clear(){
                this.edit.name = '';
                this.edit.zip = '';
                this.edit.address = '';
                this.edit.city_id = 0;
                let el = this.cities.find((f,idx) => idx === 0);
                if (el){
                    this.edit.city_id = el.id;
                }else this.edit.city_id = 0;

                this.formSocial = [];
                let element  = {
                    social: '',
                };
                this.formSocial.push(element);
                this.edit.email = '';
                this.edit.phone = '';
                this.edit.time_am = '';
                this.edit.time_pm = '';
                this.edit.image = '';
                this.edit.uploads = '';
                this.edit.website = '';
                this.edit.facebook = '';
                this.edit.google = '';
                this.edit.linkedin = '';
                this.edit.twitter = '';
                this.edit.instagram = '';
                this.edit.youtube = '';
                this.edit.category_id = 0;
                this.edit.user_id = 0;
                this.edit.id = 0;
            }
        }
    }
</script>

<style scoped>

</style>